<div class="white_site">
  <div class="top clearer"></div>
  <div class="content" > 
       <div class="right"><img title="Anwalt kann-ich-klagen.de" alt="Anwalt kann-ich-klagen.de" src="/images/white_big_haken.jpg" style="position:relative;"/></div>
     <div class="left pad_10" style="position:absolute; width:930px">
       <ul style="margin-top:20px">
         <li><span class="headline">Vielen Dank für die Bestätigung und Aktivierung Ihrer<br />Frage auf kann-ich-klagen.de!</span></li>
         <li><span class="fliess">Wir informieren Sie gesondert per E-Mail, sobald Ihre Frage freigeschaltet wurde, damit Sie schnellstmöglich Nachrichten und Bewerbungen von interessierten Anwälten bekommen – selbstverständlich ohne weitere Verpflichtungen. </span></li>
          <ul> 
          <div class="pad_10"></div>
          

          <p><b class="t_green">Ihr persönlicher Bereich auf kann-ich-klagen.de steht Ihnen ab sofort zur Verfügung, indem Sie sich mit Ihren persönlichen Zugangsdaten einloggen. </b></p> 
          <p> <b class="t_green">Sie erhalten die Zugangsdaten zu Ihrem persönlichen Bereich per E-Mail. </b></p> 
          
          <p>Sollten Sie Fragen haben, stehen wir Ihnen per <%= mail_to 'email@kann-ich-klagen.de', 'E-Mail', { :encode => "hex" }%> gern zur Verfügung. </p> 

          
          
      </div>  
  </div>
  <div class="bottom_footer"></div>
</div>




