<div class="pad_10_all">
    
    
     <div class="left w350">
        <p><b>Standort</b></p>
         <div>Kanzleiname</div>
         <div>Musterstr. 25</div>
         <div>80796 München</div> 
         <div class="pad_10"></div>
         <div>Telefon: </div> 
         <div>Telefax: </div>
         <div>Mobilnummer: </div>
          <div class="pad_10"></div> 
         <div>E-Mail: Max.Mustermann@muster.de</div>
         <div>Internet: www.mustermann.com</div>
         <div class="pad_10"></div> 
         <div><a>Skype</a></div>
         <div><a>Twitter</a></div>
         <div><a>Facebook</a></div>
         <div><a>Xing</a></div>
         <div><a>LinkedIn</a></div>
         <div class="pad_10"></div> 
          <div>Bürozeiten: </div>
          <div class="pad_10"></div> 
         
     </div>  
     
      <div class="left w285">
        
           <p><b>Weitere Standorte</b></p> 
           <div>Musterstr. 25</div>
            <div>80796 München</div> 
            <div class="pad_10"></div>
            <div>Musterstr. 25</div>
             <div>80796 München</div> 
             <div class="pad_10"></div> 
             <div>Musterstr. 25</div>
              <div>80796 München</div> 
              <div class="pad_10"></div>
      </div>
     
     <div class="right w285">
        
        <div class="pad_10"></div> 
        <p><b>So erreichen Sie uns</b></p>
         <div><a>Route berechnen lassen</a></div>
          <div class="pad_10"></div>
         <div>Parkplätze: ja</div>
         <div>Taxistand in der Nähe: nein</div>
         <div>Bus, Bahn und Straßenbahn in der Nähe: ja</div> 
         <div class="pad_10"></div>
         <p><b>Informationen</b></p>
          <div>Wir sind die Besten!!!!!</div>
     </div>
      
</div>