
<div class="grey">
<div class="top clearer"></div>
<div class="content">
  <div class="left">
    <div class="t_14"><b>Hier Anwälte suchen, finden &amp; bewerten:</b></div>

    <div class="left pad_5">
      <input class= "field w100" value="Vorname" />
    </div>
    <div class="left pad_5 pad_l_10">
      <input class= "field w100" value="Nachname" />
    </div>
    <div class="left pad_5 pad_l_10">
      <input class= "field w100" value="Ort" />
    </div>
    <div class="left pad_5 pad_l_10">
      <input class= "field w50" value="PLZ" />
    </div>

    <div class="left pad_5 pad_l_10">
      <select class="rights " style="background-color:#fffef7 ">
        <option>Umkreis*:</option> 

        <option>5 KM</option> 
        <option>10 KM</option> 
        <option>20 KM</option> 
        <option>30 KM</option> 

        <option>Keine Angabe</option> 
      </select>
    </div>
    <div class="left pad_5 pad_l_10">
      <select class="rights " style="background-color:#fffef7 ">
        <option>Rechtsgebiet:</option> 

        <option>Arbeitsrecht</option> 
        <option>Agrarrecht</option> 
        <option>Bank- und Kapitalmarktrecht</option> 
        <option>Bau- und Architektenrecht</option> 
        <option>Erbrecht</option> 
        <option>Familienrecht</option> 

        <option>Insolvenzrecht</option> 
        <option>Medizinrecht</option> 

        <option>Sozialrecht</option> 
        <option>Strafrecht</option> 
        <option>Steuerrecht</option> 


        <option>Verkehrsrecht</option> 
        <option>Versicherungsrecht</option> 
        <option>Verwaltungsrecht</option> 
        <option>Keine Angabe</option> 
      </select>

    </div>
    <div class="left pad_5 pad_l_10">
      <input class= "field w100" value="Stichwort, Stichwort" />
    </div> 
  </div>
  <div class="right"><input class= "suchen" value="" />

  </div>
  <div class="info">*Umkreissuche zur eingegebenen PLZ nur m&#246;glich mit 5-stelliger PLZ.</div>

</div>
<div class="bottom"></div>   
 </div> 
