<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Das <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %>-Bewertungssystem</h2>
    <p>Das <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %>-Bewertungssystem wurde entwickelt in Zusammenarbeit mit Prof. Dr. Robert Schweizer - Kanzlei Prof. Schweizer - und dem Institut für Demoskopie Allensbach - Gesellschaft zum Studium der öffentlichen Meinung mbH -, um Mandanten die Möglichkeit zu bieten ihre Anwälte und deren Service zu bewerten und ihre gemachten Erfahrungen mit anderen zu teilen.</p>
    <p class="t_blue"><b >Nachfolgend wird erläutert, wie sich die Gesamtnote für einen Anwalt aus den von einem Mandanten abgegebenen Einzelnoten berechnet.</b></p>
   <ul class="white_site_list">
    <li><span class="nr">1.</span><span>Ein Mandant muss eine Hauptfrage zu jedem der FÜNF WERTE, also insgesamt fünf Fragen, beantworten.</span></li>
    <li><span class="nr">2.</span><span>Zusätzlich kann ein Mandant pro Hauptfrage noch bis fünf Zusatzfragen freiwillig beantworten, mit denen er seine Bewertung verfeinert und dem betroffenen Anwalt so noch ein besseres Feedback geben kann.</span> </li>
   </ul>
   
    <p>Ein Mandant beantwortet somit minimal <b>fünf</b> (= 5 Hauptfragen und 0 Zusatzfragen) und maximal <b>30</b> Fragen (= 5 Hauptfragen und 25 Zusatzfragen).</p>
    <p>Die FÜNF WERTE des <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %>-Bewertungssystems haben eine unterschiedliche Gewichtung. Die Gesamtnote für einen Anwalt berechnet sich aus den folgenden Prozentsätzen, zu welchen die Noten für jeden der FÜNF WERTE zur Gesamtnote beitragen:</p>
        <img src="/images/grafik_5.jpg" width="457" height="186" alt="Grafik 5">
   
     <p class="t_blue"><b >Werden nur die fünf Hauptfragen beantwortet, berechnet sich die Gesamtnote wie folgt:</b></p> 
 
    <h2>Schritt 1</h2>
    <% if kik_realm? %>
     <img src="/images/120310_Notenberechnung-1.gif" width="924" height="256" alt="120310 Notenberechnung 1"/>    
    <% end %>
    <% if af_realm? %>
    <img src="/images/advofinder/092010_Notenberechnung_neu1-1.gif" width="924" height="256" alt="092010 Notenberechnung Neu1 1"/>
    <% end %>
   
    
    
    
    <h2>Schritt 2</h2>
    <% if kik_realm? %> 
    <img src="/images/120310_Notenberechnung-2.gif" width="924" height="120" alt="120310 Notenberechnung 2"/>  
    <% end %>
    <% if af_realm? %><img src="/images/advofinder/092010_Notenberechnung_neu2-1.gif" width="924" height="120" alt="092010 Notenberechnung Neu2 1"/>
    <% end %>
    
   
   
    <div class="clearer"></div>
    <div class="pad_40"></div>
    <p class="t_blue"><b>Werden zusätzlich zu den fünf Hauptfragen auch freiwillig Zusatzfragen beantwortet, berechnet sich die Gesamtnote wie folgt:</b></p>
    <div class="left">
        <img src="/images/04_Notenberechnung.gif" width="402" height="170" alt="04 Notenberechnung" style="float:right;padding-left:20px;"/>
       
        Werden bei einem oder mehreren der FÜNF WERTE zusätzlich zur jeweiligen Hauptfrage eine oder mehrere Zusatzfragen beantwortet (bis zu 5 Zusatzfragen pro Hauptfrage), entfällt eine Gewichtung von 50 % auf die Hauptfragen. Die weiteren 50 % entfallen auf die jeweils beantworteten Zusatzfragen. Die Gewichtung der beantworteten Zusatzfragen zu einem der FÜNF WERTE untereinander, hängt jeweils von der Anzahl der beantworteten Zusatzfragen ab. Die Wertigkeit der Zusatzfragen untereinander ist dabei gleich. Je mehr Zusatzfragen beantwortet werden, umso qualitativer ist die Aussagekraft der Gesamtnote. Sprich, mit Verringerung der beantworteten Zusatzfragen erhöht sich die Gewichtung der einzelnen Zusatzfragen und somit auch der Einfluss auf die Gesamtnote (siehe Tabelle unten).
    </div> 
    <div class="clearer"></div> 
       <div class="pad_10"></div>
        <% if kik_realm? %> 
        <img src="/images/120310_Notenberechnung-3.gif" width="922" height="335" alt="120310 Notenberechnung 3"/> 
       <% end %>
       <% if af_realm? %>
       <img src="/images/advofinder/092010_Notenberechnung_neu3-1.gif" width="922" height="335" alt="092010 Notenberechnung Neu3 1"/>
       <% end %>
       
       <div class="clearer"></div>
        <div class="pad_10"></div>
        <p class="t_blue"><b>Beispiel für die Berechnung der Gesamtnote eines Anwalts, wenn zusätzlich zu den fünf Hauptfragen auch freiwillig Zusatzfragen beantwortet werden: Zu Beispielszwecken werden zum ersten Wert der FÜNF WERTE - „Verständlichkeit“ - alle fünf möglichen Zusatzfragen beantwortet werden, und zu jedem weiteren Wert exemplarisch jeweils eine Frage weniger.</b></p> 
         <h2>Schritt 1</h2>
         <% if kik_realm? %> 
         <img src="/images/120310_Notenberechnung-4.gif" width="924" height="1291" alt="120310 Notenberechnung 4"/>  
         <% end %>
         <% if af_realm? %>
         <img src="/images/advofinder/092010_Notenberechnung_neu4-1.gif" width="924" height="1291" alt="092010 Notenberechnung Neu4 1"/>
         <% end %>
                        
         <h2>Schritt 2</h2>
         <% if kik_realm? %> 
         <img src="/images/120310_Notenberechnung-5.gif" width="924" height="120" alt="120310 Notenberechnung 5"/> 
         <% end %>
         <% if af_realm? %>
         <img src="/images/advofinder/092010_Notenberechnung_neu5-1.gif" width="924" height="120" alt="092010 Notenberechnung Neu5 1"/>
         <% end %>
                        
  </div>
<div class="bottom_footer"></div>
</div>