<div style="color:red;">Befindet sich in views/advofinder/help_pages/tips_and_infos.html.erb</div>

<h2>kann-ich-klagen.de – das Mandanten-Fragen-Portal</h2>
<p>Als Rechtsuchender können Sie auf kann-ich-klagen.de kostenlos und unverbindlich Fragen stellen und Ihr Rechtsproblem schildern.</p>
<p>Bereits nach kurzer Zeit erhalten Sie kostenlos Bewerbungen und Feedback von interessierten und sofort verfügbaren Anwälten.</p>

<h2>Tipps und Informationen dazu, wie Sie Ihre Frage bestmöglich stellen können</h2>
<p>Je genauer Sie Ihre Frage formulieren und den Sachverhalt schildern, desto besser und schneller können Ihnen die teilnehmenden Anwälte ein Feedback geben und Ihnen die Hilfe anbieten, die Sie suchen.</p>
<p>Indem Sie Ihre Frage begründen ist auch das Verständnis für die Frage besser.
<p><b>Wichtig: Ihre Frage darf keine persönlichen Kontaktdaten von Ihnen erhalten, damit Ihre Anonymität gewahrt bleibt und Sie nur von tatsächlich interessierten und sofort verfügbaren Anwälten Feedback und Bewerbungen erhalten.</b></p>
<p><b>Ziele:</b> Damit Ihre Frage möglichst gut verstanden wird, empfehlen wir Ihnen mit Ihrer Frage mitzuteilen, welche Antworten Sie von einem Anwalt konkret erwarten. Versuchen Sie Ihre Ziele möglichst konkret zu beschreiben.</p>
<p>Hier zwei Beispiele:
<p><i>„Ich möchte wissen, ob die Renovierungsklausel in meinem Mietvertrag wirksam ist und welche Rechte ich habe für den Fall, dass die Klausel nicht wirksam ist.“</i></p>
<p><i>„Mich interessiert nicht, welche Gesetze und Urteile in meinem Fall einschlägig sind. Ich möchte nur wissen, ob eine Klage in meinem Fall Sinn macht oder nicht, um dann weiter entscheiden zu können.“</i></p>
<p><b>Mehrere Fragen und schwierige Sachverhalte: </b>Für den Fall, dass Sie mehrere Fragen haben oder der Sachverhalt sehr lang oder schwierig ist, sollten Sie versuchen Ihre Frage mit Absätzen oder Überschriften zu strukturieren und jeder Frage bzw. jedem Teilsachverhalt einen eigenen Absatz und einen eigene Überschrift zu widmen. So schaffen Sie eine bessere Übersicht.</p>
<p>Durch die Formulierung von Teilfragen können Sie die Verständlichkeit Ihrer gesamten Frage erheblich verbessern und den teilnehmenden Anwälten die Arbeit erleichtern sowie unnötige Rückfragen vermeiden.</p>
<p><b>„W-Fragen“:</b> Versuchen Sie bei der Formulierung des Sachverhalts und der Schilderung Ihres Rechtsproblems die sogenannten "W-Fragen" möglichst vollständig zu beantworten:</p>
<p>Was ist passiert? - Wer ist beteiligt? - Wo ist es passiert? - Wann ist es passiert? - Wie ist es passiert? - Warum ist es passiert? - Welches Ziel verfolgen Sie? -  Welche Zeugen haben Sie? - Welche Unterlagen besitzen Sie? </p>  


<h2>Dokumente hochladen </h2>
<p>– weiterführende Informationen für teilnehmende Anwälte bereitstellen</p>
<p>Wenn Sie bereits Unterlagen und Informationen zu Ihrer Frage zusammengetragen haben, so stellen Sie diese den teilnehmenden Anwälten bitte zur Verfügung, um unnötige Nachfragen zu vermeiden und eine schnelle Bearbeitung Ihrer Frage zu ermöglichen.</p>
<p>Je mehr Informationen Sie vorab mitteilen können, desto genauer kann auf Ihr Anliegen eingegangen werden. Sammeln Sie deswegen bitte möglichst viele Informationen zu Ihrem Rechtsproblem und scannen Sie, wenn möglich, alle relevanten Unterlagen ein.</p>
<p>Auf der Seite „Frage stellen“ haben Sie die Möglichkeit kostenlos vorhandende Dateien (z.B. Scans, Fotos, PDF-Dateien) hochzuladen und Ihrer Frage anzuhängen.</p>

<h2>Angabe von persönlichen Daten und Verschwiegenheitspflicht</h2>
<p><b>Angabe Ihrer E-Mail-Adresse </b>: bitte ein Mal "enter" drücken. Um Missbrauch zu vermeiden und damit wir Sie kontaktieren können, wenn Sie Feedback und Bewerbungen von interessierten Anwälten erhalten haben, ist er erforderlich, dass Sie uns Ihre E-Mail-Adresse nennen. Die von Ihnen angegebene E-Mail-Adresse wird nicht zusammen mit Ihrer Frage an die teilnehmenden Anwälte versandt, so dass Sie vorerst anonym bleiben. Erst wenn ein teilnehmender Anwalt Sie kontaktieren und Ihnen eine Bewerbung schicken möchte, wird dem Anwalt Ihre E-Mail-Adresse mitgeteilt, damit er Ihnen Feedback geben kann.</p>
<p>Eine komplett anonyme Rechtsberatung ist leider nicht möglich, weil für Rechtsanwälte die gesetzliche Pflicht besteht zu überprüfen, ob sie nicht bereits für den Gegner tätig sind (sog. Interessenkollision). Dies folgt auch aus § 43a Absatz 4 Bundesrechtsanwaltsordnung (BRAO): „Der Rechtsanwalt darf keine widerstreitenden Interessen vertreten.“</p>
<p>Unabhängig davon gilt aber in jedem Fall nach § 43a Absatz 2 Bundesrechtsanwaltsordnung (BRAO): „Der Rechtsanwalt ist zur Verschwiegenheit verpflichtet. Diese Pflicht bezieht sich auf alles, was ihm in Ausübung seines Berufes bekanntgeworden ist. Dies gilt nicht für Tatsachen, die offenkundig sind oder ihrer Bedeutung nach keiner Geheimhaltung bedürfen.“</p>
<p>Wo suchen Sie einen Anwalt? 
<p>Auf der Seite „Frage stellen“ haben Sie die Möglichkeit eine Postleitzahl (PLZ) anzugeben, an der Sie einen Anwalt suchen. </p>
<p>1. Es gibt nicht nur Gesetze, die in ganz Deutschland gültig sind, sondern auch viele Gesetze, die nur in einem Bundesland oder gar nur in einer Gemeinde gültig sind. Die teilnehmenden Anwälte können auf diese örtlichen Unterschiede von Anfang an Rücksicht nehmen, wenn Sie Ihre ortsbezogenen Daten von Anfang an zur Verfügung stellen. Durch die Angabe der ortsbezogenen Daten sparen Sie Zeit und vermeiden unnötige Rückfragen. </p>
<p>2. Indem Sie Ihre ortsbezogenen Daten zur Verfügung stellen, können Sie konkret teilnehmende Anwälte ansprechen, die sich in Ihrer Nähe befinden. Es kann von Vorteil sein, dass sich ein Anwalt in örtlichen Nähe zu Ihnen befindet etwa dann, wenn Sie von einem Anwalt auch vor Ort weiter betreut werden möchten. </p>

<b>Optional: Nennen Sie Ihre Telefonnummer</b>
<p>Auf der Seite „Frage stellen“ haben Sie optional die Möglichkeit freiwillig Ihre Telefonnummer anzugeben. Wir empfehlen Ihnen diese Möglichkeit zu nutzen:</p>
<p>1. Durch die Angabe Ihrer Telefonnummer ermöglichen Sie den teilnehmenden Anwälten sich telefonisch bei Ihnen zu melden anstatt Ihnen eine Nachricht oder E-Mail zu schicken. Dies kann insbesondere dann von Vorteil sein, wenn Ihre Frage eilig ist und Sie nicht ständig Zugriff auf das Internet und Ihre E-Mails haben.</p>
<p>2. Ihre Telefonnummer wird nur an interessierte und sofort verfügbare Anwälte weitergegeben, so dass Sie keine ungewünschten Anrufe fürchten müssen. Erst wenn ein teilnehmender Anwalt Sie kontaktieren und Ihnen eine Bewerbung schicken möchte, wird dem Anwalt Ihre Telefonnummer mitgeteilt, damit er Ihnen auch telefonisch Feedback geben kann.</p>


<p>Sollten Sie Hilfe benötigen beim Stellen einer Frage, stehen wir Ihnen auch gern jederzeit per E-Mail zur Verfügung:<%= mail_to  Notifier.help_email, 'E-Mail senden', { :encode => "hex" }%></p>            

<p>Ihr kann-ich-klagen.de Team</p>

