
<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <% if kik_realm? %>  
    <div class="blue_head"><h2>Die Win-Win-Lösung für Rechtsuchende und Anwälte!</h2></div>
    <div class="left">

      <div class="two_top clearer"><h2><b>Für Rechtsuchende</b></h2></div>
      <div class="two_content_190">
        	<img  alt="" src="images/icons/frage.gif" style="float:right"/>
          <p><b>Anwalt finden</b>- Ob Streit mit dem Nachbarn, Ärger mit dem Chef, Schererei mit der Behörde, strafrechtliche Verfolgung oder familiäre Schwierigkeiten - es ist leider selten ein erfreulicher Anlass, der einen Anwalt verlangt. </p>
 <p><b>Zeit sparen</b> - Stundenlanges Blättern in dicken Telefonbüchern oder endloses Surfen im Internet auf der Suche nach einem Anwalt gehören der Vergangenheit an. Ebenso Telefonate mit und Besuche bei potentiellen Anwälten, aus denen nichts wird.</p>
 <p><b>Kostenlos</b> - Stellen Sie einfach und kostenlos Ihre Frage und schildern Sie Ihr Rechtsproblem auf kann-ich-klagen.de. Bereits nach kurzer Zeit erhalten Sie Nachrichten von interessierten Anwälten, die sich bei Ihnen vorstellen und bewerben möchten. Eine Verpflichtung einen Anwalt zu beauftragen besteht natürlich nicht. kann-ich-klagen.de ist ein kostenloser Service für Sie als Rechtsuchenden. </p> </div>
      <div class="two_bottom"></div>
    </div>

    <div class="right">

      <div class="two_top"><h2><b>Für Anwälte</b></h2></div>
      <div class="two_content_190">
        	<img  alt="" src="images/icons/anwalt.gif" style="float:right"/>
 <p><b>Gezielt Mandanten gewinnen</b> - kann-ich-klagen.de unterstützt Sie als Anwalt deutschlandweit bei der Akquise von neuen Mandanten und stellt Ihnen Rechtsuchende vor, die aktuell ein Rechtsproblem haben. Sie erhalten regelmäßig und kostenlos aktuelle Fragen von potentiellen Mandanten zur Einsicht in anonymisierter Form. Ist eine interessante Frage für Sie dabei, stellen wir Ihnen die Kontaktdaten zu einem Festpreis zur Verfügung. Sie können dann den Mandanten direkt kontaktieren und sich bei ihm vorstellen. </p>
 <p><b>Akquise ohne Streuverluste</b> - Die Fragen der Rechtsuchenden werden vorab auf Plausibilität geprüft und gemäß Ihren hinterlegten Rechtsgebieten und regionalen Wünschen individuell für Sie gefiltert. So sparen Sie wertvolle Zeit und Akquisekosten.</p>
 <p><b>Zeit sparen</b> - Konzentrieren Sie sich als Anwalt nur noch auf das Wesentliche: Die kompetente Beratung und Betreuung Ihrer Mandanten. Die Suche und Vorstellung von potentiellen Mandanten übernimmt kann-ich-klagen.de für Sie. </p>

      </div>
      <div class="two_bottom"></div>

    </div>

  </div>


  <div class="bottom"></div>
</div>

<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">

    <div class="blue_head"><h2>6 gute Gründe für kann-ich-klagen.de:</h2></div>
    <div class="left">

      <div class="two_top clearer"><h2><b>Für Rechtsuchende</b></h2></div>
      <div class="two_content_right">
        <ul class="haken_blue">
          <li>Schildern Sie Ihren Fall und kontaktieren Sie Anwälte kostenlos und unverbindlich</li>
          <li>Keine Voranmeldung oder Termine erforderlich</li>
          <li>Erhalten Sie Nachrichten und Bewerbungen von interessierten Anwälten ohne weitere Verpflichtungen</li>
          <li>Vergleichen Sie die Bewerbungen der interessierten Anwälte bequem von zuhause und wählen Sie bei Interesse einen passenden Anwalt aus</li>
          <li>Eine Verpflichtung einen Anwalt zu beauftragen besteht nicht</li>
          <li>Wertvolle Tipps und Informationen rund um die Themen Recht und  Steuern</li>
        </ul>

      </div>
      <div class="two_bottom_arrow">
        <b><%= link_to_expect_pre_launch "Jetzt kostenlos Ihre Frage stellen", new_question_path, {:title => "Kostenlos Frage stellen und Fall schildern"} %>
        </b>
      </div>
    </div>

    <div class="right">

      <div class="two_top"><h2><b>Für Anwälte</b></h2></div>
      <div class="two_content_right">
        <ul class="haken_blue">
          <li>Erhalten Sie regelmäßig und kostenlos Fragen von potentiellen Mandanten zur Einsicht  </li>
          <li>Fragen individuell gefiltert nach Ihren vorgegebenen Rechtsgebieten und regionalen Wünschen</li>
          <li>Finden Sie online stets neue Fragen von Rechtsuchenden rund um die Uhr </li>
          <li>Gewinnen Sie neue Mandanten überregional oder ganz in der Nähe </li>
          <li>Kostenloses Startguthaben und transparente Akquisekosten durch Festpreise</li>
          <li>Keine Einrichtungsgebühren und verpflichtende Mindestlaufzeiten</li>
        </ul>

      </div>
      <div class="two_bottom_arrow">
        <b><%= link_to "Jetzt anmelden und Startguthaben sichern", new_advocate_user_path, {:title => "Einmalig anmelden und Vorteile sichern"} %>
        </b>
      </div>
      
      <% end %>
      <% if af_realm? %>
       <div class="blue_head"><h2>Die Vorteile für Rechtsuchende und Anwälte!</h2></div>
        <div class="left">

          <div class="two_top clearer"><h2><b>Für Rechtsuchende</b></h2></div>
          <div class="two_content">
            	
               <img title="Startseite" alt="Startseite" src="images/advofinder/icons/frage.gif" style="float:right"/>
                <p><b>Suchen &#38; Finden</b> – advofinder.de unterstützt Sie bei der Suche nach dem passenden Anwalt und schafft Transparenz. Mit praktischen Suchfunktionen und umfangreichen Anwaltsprofilen erhalten Rechtsuchende schnell einen Überblick über potentielle Anwälte, die konkret in Frage kommen. Stundenlanges Blättern in dicken Telefonbüchern auf der Suche nach einem Anwalt gehört der Vergangenheit an. </p>
        <p><b>Bewerten</b> – Das advofinder.de Bewertungssystem ermöglicht Rechtsuchenden die unkomplizierte Bewertung eines Anwalts in nur wenigen Minuten. Bewertet werden fünf Bereiche: Verständlichkeit, Zuverlässigkeit, Menschlichkeit, Erreichbarkeit und Auftreten des Anwalts. Ihre Antworten und gemachten Erfahrungen helfen wiederrum anderen Rechtsuchenden bei der Anwaltssuche.</p>
        <p><b>Austauschen </b> – Zu Fragen wie Servicequalität, Vertrauensbildung und Verständlichkeit im Rahmen der Rechtsberatung und Betreuung durch den Anwalt kann sich jeder Rechtsuchende eine aussagekräftige und veritable Meinung bilden. Und genau diese Meinung steht im Mittelpunkt bei advofinder.de; Rechtsuchende erhalten Anhaltspunkte im Vorfeld einer Beauftragung und Anwälte erhalten wertvolles Feedback zur Optimierung des eigenen Serviceangebotes.</p></div>
          <div class="two_bottom"></div>
        </div>

        <div class="right">

          <div class="two_top"><h2><b>Für Anwälte</b></h2></div>
          <div class="two_content">
             <img title="Startseite" alt="Startseite" src="/images/icons/anwalt.gif" style="float:right"/>
              <p><b>Werben </b> – Ihnen als Anwalt bietet advofinder.de die Möglichkeit sich professionell im Internet zu präsentieren: Erstellen Sie ein persönliches Anwaltsprofil zur Darstellung Ihrer Person, Ihrer Kanzlei und Ihrer Arbeit. Überzeugen Sie mit guten Leistungen, veröffentlichen Sie Artikel und Videos und sammeln Sie positive Bewertungen. Bauen Sie so Ihr Online-Renommee weiter aus, das von vielen Rechtsuchenden deutschlandweit bei der Anwaltssuche wahrgenommen wird.</p>
               <p><b>Feedback</b> – Servicequalität, Vertrauensbildung und Verständlichkeit sind wichtige Kriterien für Rechtsuchende bei der Auswahl eines Anwalts. Erfahren Sie, wie Sie von Ihren Mandanten wahrgenommen werden und optimieren Sie Ihren Service. So erfüllen Sie stets die an Sie gestellten Erwartungen.</p>
               <p><b>Empfehlungen</b> - Zufriedene Mandanten empfehlen weiter und sind die günstigste und beste Art neue Mandanten zu gewinnen. Nutzen Sie Empfehlungsmarketing bzw. „Word-of-mouth-Marketing“ zur Neukundengewinnung. advofinder.de unterstützt Sie als Anwalt dabei diesen spontanen Empfehlungsprozess für Ihr Online-Marketing zu initiieren und das Potential im Web 2.0 auszuschöpfen; mit integrierter Social Media Anbindung und Suchmaschinenoptimierung. <br /><br /></p>

          </div>
          <div class="two_bottom"></div>

        </div>

      </div>


      <div class="bottom"></div>
    </div>

    <div class="white_site">
      <div class="top clearer"></div>
      <div class="content">

        <div class="blue_head"><h2>5 gute Gründe für advofinder.de:</h2></div>
        <div class="left">

          <div class="two_top clearer"><h2><b>Für Rechtsuchende</b></h2></div>
          <div class="two_content_right">
            <ul class="haken_blue">
              <li>Passende Anwälte anhand von umfangreichen Anwaltsprofilen und praktischen Suchfunktionen deutschlandweit finden, kontaktieren und weiterempfehlen.</li>
              <li>Bewertungen sowie Erfahrungsberichte von anderen Rechtsuchenden und Mandanten schaffen Transparenz und helfen bei der Wahl des Anwalts; 24 Stunden am Tag.</li>
              <li>Loben Sie Anwälte, mit deren Service Sie zufrieden waren, und machen Sie Verbesserungsvorschläge zur Optimierung des Serviceangebotes eines Anwalts.</li>
              <li>Mit kostenloser Anmeldung alle Funktionen von advofinder.de in vollem Umfang nutzen.</li>
              <li>Profitieren Sie von wertvollen Tipps und Informationen rund um die Themen Recht und Steuern.</li>
            </ul>

          </div>
          <div class="two_bottom_arrow">
            <b><%= link_to "Jetzt kostenlos anmelden", new_question_path, {:title => "Kostenlos anmelden"} %>
            </b>
          </div>
        </div>

        <div class="right">

          <div class="two_top"><h2><b>Für Anwälte</b></h2></div>
          <div class="two_content_right">
            <ul class="haken_blue">
              <li>Zufriedene Mandanten empfehlen auf advofinder.de weiter und ermöglichen den Ausbau des eigenen Online-Renommees.</li>
               <li>Erhalten Sie Feedback von Mandanten zur Optimierung des eigenen Serviceangebotes.</li>
               <li>Potentielle Mandanten können Sie mittels Suchfunktion deutschlandweit finden, kontaktieren und weiterempfehlen; 24 Stunden am Tag.</li>
               <li>Gewinnen Sie neue Mandanten überregional oder ganz in Ihrer Nähe mit einem eigenen Anwaltsprofil.</li>
               <li>Nutzen Sie die Möglichkeiten des Web 2.0 mit einen suchmaschinenoptimierten Anwaltsprofil von advofinde.de und integrierter Social Media Anbindung.</li>
            </ul><br />

          </div>
          <div class="two_bottom_arrow">
            <b><%= link_to "Jetzt anmelden und Profil anlegen", new_advocate_user_path, {:title => "Einmalig anmelden und Profil anlegen"} %>
            </b>
          </div>
      <% end %>
      

    </div>
  </div>

  <div class="bottom_footer"></div>
  </div>
  
  