<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Vielen Dank für Ihre Weiterempfehlung!</h2>

    <div class="pad_10"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.</p>
    <p>Ihr kann-ich-klagen.de Team</p>
   
    <div class="pad_10"></div>

  </div>
  <div class="bottom_footer"></div>
</div>