<h3>Herzlich Willkommen zur Kik Admin Konsole!</h3> 
<div class="statistik">
 <h2>Statistikübersicht</h2>      
<ul class="new_tabs">
  <li><a>Anwälte</a></li>
  <li><a>Rechtsuchende</a></li> 
  <li><a>Fragen</a></li>
  <li><a>Hitlisten</a></li>
</ul>
</div> 
