<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">
        <h2>Pressespiegel</h2>

        <p>
    Wir in der Presse. Über unsere Entwicklung und die Mitglieder des <% if kik_realm? %>kann-ich-klagen.de 
          <% end %>
          <% if af_realm? %>advofinder.de
          <% end %> Teams wird in der Presse berichtet. Hier können Sie sich aktuelle Berichterstattungen ansehen. 
        </p>

        <% @reviews.each_with_index do |review, index| %>
          <%= render :partial => "review", :object => review %>

          <% if index != 0 && 0 == index % 2 %>
            <div class="clearer"></div>
            
          <% end %>
        <% end %> 
      
      </div> 
        
      <div class="col_2">

        <%= render :partial => 'shared/sidebar_stats' %>

        <div class="pad_r_l_15">

          <%= render :partial => "shared/sidebar_tag_cloud_and_archive", 
            :locals => {:collection_method_name => :press_reviews_path} %>

          <div class="pad_5"></div>
          <h2></h2>
          <%= link_to content_tag(:b, "Alle Einträge zeigen &#187;"),
            press_reviews_path, :class => "white_none" %>
          <div class="pad_10"></div>

        </div>
        
     
    </div>
  </div>
  <div class="bottom"></div>
</div>



















