<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Vorteile</h2>

    <div class="pad_10"></div>


    <div class="pad_10"></div>

  </div>
  <div class="bottom_footer"></div>
</div>