<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Rechtsberatungkosten</h2>
    <p>Eine der ersten Fragen, die Rechtsuchende erfahrungsgemäß einem Rechtsanwalt stellen, ist die Frage nach den Kosten einer Beratung bzw. eines Rechtstreits; sprich den Gebühren. </p>
    <p>Aus diesem Grund wird an dieser Stelle ein Überblick zu den außergerichtlichen und gerichtlichen Kosten einer Rechtsberatung und -vertretung durch einen Rechtsanwalt gegeben; u.a. nachfolgend aufbauend auf zur Verwendung freigegebener Informationen und Dokumente der Europäischen Union.</p>
    <div class="clearer_10"></div>
    <h2>Vorteil der Beratung durch einen Rechtsanwalt</h2>
   <p> Vorab sei dargestellt, warum die Beauftragung eines Rechtsanwalts grundsätzlich ihren Preis wert ist:</p>
   <div class="rk">
     <ul>
       <li>Ein Rechtsanwalt ist unabhängig und nur seinem Mandanten und dessen Weisungen verpflichtet. Er ist nach dem Gesetz ein unabhängiges Organ der Rechtspflege.</li>
       <li>Ein Rechtsanwalt ist zur Verschwiegenheit verpflichtet und hat alle ihm anvertrauten Informationen geheim zu halten. Die gleiche Verpflichtung gilt für seine Mitarbeiter.</li>
       <li>Ein Rechtsanwalt darf keine widerstreitenden Interessen vertreten. Er hat sich stets loyal zu verhalten und muss Mandate ablehnen, die zu einem Konflikt mit dem Fall eines Mandanten führen würden.</li>
       <li>Im Unterschied zu andere Berufsgruppen, die in bestimmten Fällen rechtsrat erteilen dürfen, zeichnet einen Rechtsanwalt aus, dass er keinem Unternehmen oder sonstigen Dritten verpflichtet und nicht von einem solchen anhängig ist.</li>
       <li>Ein Rechtsanwalt ist verpflichtet sich fortzubilden, um trotz der vielen rechtlichen Regelungen stets kompetent beraten zu können.</li> 
    </ul> 
    </div>
     <div class="clearer_10"></div>  
   <h2> Informationspflichten des Rechtsanwalts</h2>
    <p>Ein Rechtsanwalt ist dazu verpflichtet, den Mandaten vollumfänglich zu informieren und zu beraten. Er muss dem Mandanten den sichersten und am wenigsten riskanten Weg zur Erreichung seines Ziels vorschlagen. Er ist ebenso dazu verpflichtet, alle mit der Sache verbundenen Risiken aufzuzeigen, so dass der Mandant in der Lage ist, in voller Kenntnis der Sachlage zu entscheiden. Die Informationsmenge hängt von der Einschätzung des Rechtsanwalts ab, wie viel der Mandant wissen muss. Ein Rechtsanwalt ist dazu verpflichtet, die Fragen seines Mandanten vollständig und wahrheitsgemäß zu beantworten. Vor Klageerhebung muss der Rechtsanwalt dem Mandanten die Aussichten und Risiken des Verfahrens darlegen. Dazu gehören das Kostenrisiko und die Erfolgsaussichten.</p>
   <p> In bestimmten Fällen unterliegt der Rechtsanwalt besonderen Informationspflichten: </p>
    <div class="rk">
      <ul>
    <li>Richten sich die zu erhebenden Gebühren nach dem Gegenstandswert, hat der Rechtsanwalt vor Übernahme des Mandats darauf hinzuweisen. </li>
    <li>Bei Honorarvereinbarungen muss der Rechtsanwalt darauf hinweisen, dass bei einer Kostenerstattung (z.B. durch den Gegner oder eine Rechtsschutzversicherung) nicht mehr als die gesetzliche Vergütung erstattet wird.</li>
    <li>Wird ein Erfolgshonorar vereinbart, muss der Rechtsanwalt den Mandanten darauf hinweisen, dass die Vereinbarung keinen Einfluss auf die gegebenenfalls vom Mandanten zu zahlenden sonstigen Kosten hat.</li>
    <li>Vor Abschluss der Vereinbarung über die Vertretung vor einem Arbeitsgericht hat der Rechtsanwalt den Mandanten darauf hinzuweisen, dass keine Erstattung der Rechtsanwaltskosten möglich ist.</li>
    </ul>
    </div> 
     <div class="clearer_10"></div>  
    <h2>Zulassung und Kontrolle eines Rechtsanwalts</h2>
    In Deutschland gibt es für Rechtsanwälte nur eine, ebendiese, Bezeichnung: Rechtsanwälte. Zugelassen und kontrolliert wird jeder Rechtsanwalt von der jeweils regional zuständigen Rechtsanwaltskammer, welche dem Rechtsanwalt ultima ratio auch seine Zulassung entziehen kann, wenn er entsprechend gegen seine Pflichten verstößt. Im Bundesgebiet gibt es insgesamt <a target="blank" href="http://www.brak.de/seiten/01_03.php">28 Rechtsanwaltskammern</a>. Eine Rechtsanwaltskammer ist eine Körperschaft des öffentlichen Rechts und dient der Selbstverwaltung der Anwaltschaft. Sie gewährleistet damit die Unabhängigkeit der Anwaltschaft von staatlicher Einflussnahme und sichert zugleich die hervorgehobene Stellung des Rechtsanwalts als unabhängiges Organ der Rechtspflege. Im Rahmen der Selbstverwaltung übt die Rechtsanwaltskammer Aufsichts- und Dienstleistungsfunktionen aus. 
     <div class="clearer_10"></div>  
    <h2>Aufklärung über Kostenrisiko und Gegenstandswert durch einen Rechtsanwalt</h2>
   <p> Ein Rechtsanwalt ist gesetzlich dazu verpflichtet, unnötige Kostenrisiken für seinen Mandanten zu vermeiden und ihn entsprechend zu beraten. Sind die Kosten des Rechtsanwalts von einem Gegenstandswert abhängig, muss der Rechtsanwalt seinen Mandanten hierüber informieren. Die Höhe der gegenstandswertabhängigen Gebühr ist der Gebührentabelle als Anlage zu § 13 Rechtsanwaltsvergütungsgesetz (RVG) zu entnehmen. </p>
  <p>  Unter dem Gegenstandswert einer Angelegenheit versteht man den objektiven Geldwert oder das wirtschaftliche Interesse des Mandanten. Bei Forderungsangelegenheiten entspricht er regelmäßig dem Betrag der geltend gemachten oder abzuwehrenden Forderung. Bei nicht vermögensrechtlichen Angelegenheiten (z.B. Ehescheidung, Kündigung, Abmahnung oder Vertragsgestaltung) ist der Gegenstandswert teilweise besonderen gesetzlichen Vorschriften und teilweise der umfangreichen Rechtsprechung zu entnehmen. Im gerichtlichen Verfahren wird der Gegenstandswert grundsätzlich vom Gericht festgesetzt.</p>
  <div class="clearer_10"></div> 
    <h2>Welche Kosten rechnet ein Rechtsanwalt ab? </h2>
   <p> Die Beratung und Interessenvertretung durch einen Rechtsanwalt ist im Allgemeinen wie folgt abzurechnen:</p>
   <p> In Deutschland wird die Vergütung (Gebühren und Auslagen) eines Rechtsanwalts entweder durch das Rechtsanwaltsvergütungsgesetz (RVG) bestimmt mittels Festgebühren und Rahmengebühren oder die Vergütung beruht auf einer individuellen Honorarvereinbarung zwischen dem Rechtsanwalt und dem Mandanten. Honorarvereinbarungen sind immer als Alternative zu den gesetzlich vorgeschriebenen Gebühren möglich. </p>
   <p> Das Rechtsanwaltsvergütungsgesetz besteht aus dem Gesetzestext und aus dem Vergütungsverzeichnis. Im Gesetzestext sind die allgemeinen gebührenrechtlichen Vorschriften enthalten. Das Vergütungsverzeichnis enthält die einzelnen Gebührentatbestände.</p>

    <p>Wenn für einen Gegenstandswert Gebührenspannen angegeben werden, geben sie die höchste und die niedrigste Gebühr an, die für die jeweilige Leistung angesetzt werden kann. Die jeweils angemessene Gebühr innerhalb der genannten Gebührenspanne muss nach Billigkeit bestimmt werden. Hierbei werden insbesondere der Umfang und die Schwierigkeit der anwaltlichen Tätigkeit, die Bedeutung der Sache, die Einkommens- und Vermögensverhältnisse des Mandanten oder ein besonderes Haftungsrisiko des Rechtsanwalts berücksichtigt. Rahmengebühren finden unter anderem in Straf- und in Sozialrechtsfällen Anwendung.</p>
    <div class="clearer_10"></div> 
   <h2> (Erst)Beratung, Gutachten, Mediation bei Verbrauchern </h2>
   <p> Seit dem 1. Juli 2006 ist für die außergerichtliche Beratung und für die Erstattung von Rechtsgutachten sowie für die Mediation keine konkret bestimmte Gebühr mehr vorgesehen. Der Rechtsanwalt und der Mandant sollen eine Honorarvereinbarung über die Rechtsanwaltsgebühren treffen. Wird keine Vereinbarung geschlossen, berechnen sich die Gebühren nach dem bürgerlichen Recht.</p>
    <p>Ist der Mandant Verbraucher und ist keine Gebührenvereinbarung getroffen worden, dann gilt: Für einen mündlichen oder schriftlichen Rat oder eine Auskunft (Beratung), die nicht mit einer anderen gebührenpflichtigen Tätigkeit zusammenhängen, für die Ausarbeitung eines schriftlichen Gutachtens und für die Tätigkeit als Mediator soll der Rechtsanwalt auf eine Gebührenvereinbarung hinwirken, soweit keine Gebühren bestimmt sind. Wenn keine Vereinbarung getroffen worden ist, erhält der Rechtsanwalt Gebühren nach den Vorschriften des bürgerlichen Rechts. Ist der Auftraggeber Verbraucher, beträgt die Gebühr für die Beratung oder für die Ausarbeitung eines schriftlichen Gutachtens jeweils höchstens 250 Euro; für ein erstes Beratungsgespräch beträgt die Gebühr jedoch höchstens 190 Euro. Wenn nichts anderes vereinbart ist, ist die Gebühr für die Beratung auf eine Gebühr für eine sonstige Tätigkeit, die mit der Beratung zusammenhängt, anzurechnen. Hinzukommen dann noch die gesetzliche Mehrwertsteuer und ggf. Auslagen bzw. eine Post- und Telekommunikationspauschale.</p>
    <div class="clearer_10"></div> 
   <h2> Gebührenunterschreitung, Gebührenüberschreitung</h2>
    <p>Wenn ein Rechtsanwalt einen Mandanten vor Gericht vertritt, darf das vereinbarte Honorar nur über dem gesetzlich vorgeschriebenen Betrag liegen, nie darunter. Gebührenunterschreitungen sind unzulässig.</p>
   <p> Bei außergerichtlichen Streitigkeiten ist dagegen sowohl eine Überschreitung als auch eine Unterschreitung durch Gebührenvereinbarungen zulässig. Gebührenvereinbarungen zwischen dem Rechtsanwalt und dem Mandanten müssen jedoch schriftlich getroffen werden, wenn höhere als die gesetzlichen Gebühren vereinbart werden. Eine Vereinbarung über die Vergütung bedarf der Textform. Sie muss als Vergütungsvereinbarung oder in vergleichbarer Weise bezeichnet werden, von anderen Vereinbarungen mit Ausnahme der Auftragserteilung deutlich abgesetzt sein und darf nicht in der Vollmacht enthalten sein. Sie hat einen Hinweis darauf zu enthalten, dass die gegnerische Partei, ein Verfahrensbeteiligter oder die Staatskasse im Falle der Kostenerstattung regelmäßig nicht mehr als die gesetzliche Vergütung erstatten muss.</p>
   <div class="clearer_10"></div> 
   <h2> Kosten der Vertretung durch einen Rechtsanwalt vor Gericht</h2>
   <p> Wenn keine Vereinbarungen getroffen wurden, fallen für die Vertretung durch einen Rechtsanwalt vor Gericht Gebühren nach dem Gegenstandswert an. Er entspricht normalerweise dem Verfahrenswert, der zur Ermittlung der Gerichtskosten festgesetzt wurde. Das Rechtsanwaltsvergütungsgesetz legt genau fest, für welches Verfahren welche Gebühren zu welchen Sätzen berechnet werden können. </p>
   <div class="clearer_10"></div> 
   <h2> Mehrwertsteuer</h2>
    Gerichte und Gerichtsvollzieher sind nicht mehrwertsteuerpflichtig. Rechtsanwälte müssen einen Mehrwertsteuersatz von 19 % anwenden. Dieser Betrag wird gesondert als Kosten berechnet. Er ist nicht in der Vergütung enthalten. 
    <div class="clearer_10"></div> 
    <h2>Wann müssen die Kosten eines Rechtsanwalts gezahlt werden? </h2>
    Sofern nichts anderes vereinbart wurde, werden die Leistungen des Rechtsanwalts bei Abschluss des Mandats vergütet. Er hat jedoch das gesetzlich verankerte Recht auf Zahlung eines Vorschusses.
    <div class="clearer_10"></div> 
    <h2>Beratungshilfe und Prozesskostenhilfe</h2>
    <p>Prozesskostenhilfe bei Zivilsachen wird abhängig vom Einkommen gewährt. Hierzu werden unter Berücksichtigung der erwarteten Kosten des Falls und der sozialen Situation des Klägers (Unterhaltsverpflichtungen, Wohnkosten) flexible Einkommensgrenzen bestimmt. Abhängig vom Einkommen des Klägers kann Prozesskostenhilfe entweder ratenfrei gewährt werden oder mit der Verpflichtung zur Ratenzahlung. Das Bundesministerium der Justiz hat eine Broschüre mit dem Titel „Beratungshilfe und Prozesskostenhilfe“ herausgegeben. In dieser werden die am häufigsten gestellten Fragen auch in Bezug auf die persönlichen Umstände anhand von Beispielen beantwortet: <a target="_blank" href="http://www.bmj.bund.de/beratungshilfe-prozesskostenhilfe ">www.bmj.bund.de/beratungshilfe-prozesskostenhilfe</a></p>
    <p>Im Strafverfahren finden die Einkommensgrenzen keine Anwendung auf Verdächtige oder Angeklagte. Für die Gewährung der Prozesskostenhilfe werden andere Kriterien herangezogen.</p>
   <p> Prozesskostenhilfe im Strafverfahren für Opfer von Straftaten wird abhängig vom Einkommen gewährt. Hierzu werden unter Berücksichtigung der erwarteten Kosten des Falls und der sozialen Situation des Klägers (Unterhaltsverpflichtungen, Wohnkosten) flexible Einkommensgrenzen bestimmt. Prozesskostenhilfe kann auch mit der Verpflichtung zur Ratenzahlung gewährt werden. </p>
   <p> Opfer schwerer vorsätzlicher Gewalttaten können unabhängig von ihren finanziellen Verhältnissen Antrag auf kostenfreie Rechtsberatung stellen.</p>
    <p>Für Verdächtige/Angeklagte wird Prozesskostenhilfe (Beiordnung eines Pflichtverteidigers) nicht einkommensabhängig, sondern abhängig von bestimmten rechtlichen Voraussetzungen gewährt. Zu diesen zählen die Schwere der Tat, die Gefahr bestimmter rechtlicher Folgen (Berufsverbot, Einweisung in eine psychiatrische oder neurologische Klinik), die Frage, ob sich der Angeklagte in Untersuchungshaft befindet oder ein Sicherungsverfahren durchgeführt wird, der Ausschluss des bisherigen Verteidigers vom Verfahren, die Schwierigkeit der Sach- oder Rechtslage und die Frage, ob sich der Angeklagte selbst verteidigen kann oder nicht. </p>
    <div class="clearer_10"></div> 
   <h2> Keine Gerichtkosten vor dem Sozialgericht</h2>
   <p> Gemäß § 183 Sozialgerichtsgesetz (SGG) ist das Verfahren vor den Gerichten der Sozialgerichtsbarkeit für Anspruchsberechtigte kostenfrei. Das sind Versicherte, Leistungsempfänger einschließlich Hinterbliebenenleistungsempfänger, Behinderte oder deren Sonderrechtsnachfolger, soweit sie in dieser jeweiligen Eigenschaft als Kläger oder Beklagte beteiligt sind. Kläger und Beklagte, die nicht zu den in § 183 genannten Personen gehören, haben gemäß § 184 SGG für jede Streitsache eine Gebühr zu entrichten. Die Höhe der Gebühr wird für das Verfahren vor den Sozialgerichten auf 150 Euro, vor den Landessozialgerichten auf 225 Euro und vor dem Bundessozialgericht auf 300 Euro festgesetzt. § 197 Buchstabe a SGG legt fest, dass abweichend von oben Stehendem die Kosten nach den Vorschriften des Gerichtskostengesetzes auch in Verfahren der Sozialgerichtsbarkeit erhoben werden, wenn weder der Kläger noch der Beklagte zu den in § 183 SGG genannten Personen gehören.</p>
   <div class="clearer_10"></div> 
   <h2> Kostenfreiheit im Strafverfahren </h2>
    Für Strafverfahren gilt Folgendes: Soweit der Angeklagte freigesprochen, die Eröffnung des Hauptverfahrens abgelehnt oder das Verfahren eingestellt wird, fallen die Auslagen der Staatskasse und die notwendigen Auslagen des Angeschuldigten/Angeklagten der Staatskasse zur Last.
    <div class="clearer_10"></div> 
   <h2> Wann muss die unterlegene Partei die Kosten eines Rechtsstreits der obsiegenden Partei übernehmen?</h2>
    Die unterlegene Partei hat die Kosten der Gegenpartei zu erstatten, soweit sie zur zweckentsprechenden Rechtsverfolgung oder Rechtsverteidigung notwendig waren. Hierzu gehören die gesetzlichen Gebühren und Auslagen des Rechtsanwalts der obsiegenden Partei, die Reisekosten sowie der durch das Erscheinen vor Gericht verursachte Verdienstausfall. Grundsätzlich bestimmt das Gerichtsurteil welche Kosten welche Partei trägt. Falls das Gericht einem Kläger Recht gibt, muss die Gegenseite die Gerichtskosten, Ihre Anwaltskosten – soweit sie den gesetzlichen Gebühren entsprechen – sowie die Kosten für die Beweisaufnahme (z.B. die Ladung von Zeugen und Sachverständigen) tragen. Häufig ist es jedoch so, dass beide Parteien teilweise Recht bekommen, und somit auch die Kosten entsprechend aufgeteilt werden. In jedem Fall tragen Sie auch als Gewinner eines Prozesses immer ein Kostenrisiko: Sollte Ihr Prozessgegner zahlungsunfähig sein, müssen Sie die entstandenen Kosten Ihres Anwalts und die Gerichtskosten selbst tragen. 
    <div class="clearer_10"></div> 
   <h2> Besonderheit: Verfahren vor dem Arbeitsgericht </h2>
    Bei Verfahren vor dem Arbeitsgericht hat jede Partei in erster Instanz ihre Anwaltskosten selbst zu tragen. Die Gerichtskosten dagegen trägt immer derjenige, der den Prozess verliert.
    <div class="clearer_10"></div> 
   <h2> Rechtsschutzversicherung: Einholung einer Deckungszusage durch einen Anwalt</h2>
    <p>Rechtsanwälte können das Einholen der Deckungszusage des Rechtsschutzversicherers gesondert abrechnen. Die anwaltliche Einholung der Deckungszusage bei der Rechtsschutzversicherung ist gebührenrechtlich eine eigene Angelegenheit für den Rechtsanwalt. Dafür kann eine Geschäftsgebühr nach Nr. 2300 VV RVG aus dem Gegenstandswert des Deckungsbetrags (Kosten für den eigenen und - bei Unterliegen - für den gegnerischen Rechtsanwalt, ggf. Gerichtsgebühren, Sachverständigen- und Zeugenentschädigung), also dem Umfang des von der Rechtsschutzversicherung übernommenen Kostenrisikos, abgerechnet werden.</p>
   <p> Hinweis: Der Rechtsanwalt muss diese Geschäftsgebühr gegenüber dem Mandanten abrechnen, da die Rechtsschutzversicherung die Kosten nicht übernimmt. Rechtsuchende können das Entstehen dieser Gebühr vermeiden, indem sie selbst bei ihrer Rechtsschutzversicherung einer Deckungszusage einholen und diese dem Rechtsanwalt vorlegen.</p>
   <div class="clearer_10"></div> 
   <h2> Wo sind weitere Informationen über Anwalts- und Gerichtskosten erhältlich?</h2>
    <p>Die aktuellen Gesetzesfassungen können auf der Website des Bundesministeriums der Justiz abgerufen werden:<a target="_blank" href="http://www.gesetze-im-internet.de "> www.gesetze-im-internet.de </a> </p>
    <p>Einen kostenlosen Prozesskostenrechner bietet die Allianz ProzessFinanz GmbH:<a target="_blank" href="http://rvg.pentos.ag "> http://rvg.pentos.ag </a></p>
    <p>Zu den Verfahrenskosten in Deutschland informiert das Europäische Justizportal:<a target="_blank" href="https://e-justice.europa.eu/home.do?lang=de&action=home"> www.e-justice.europa.eu </a></p>
   <p> Auf das Copyright der Europäische Union und der Bundesrepublik Deutschland wird ausdrücklich hingewiesen hinsichtlich der eingangs erwähnten <a target="_blank" href=" https://e-justice.europa.eu/contentPresentation.do?lang=de&idCountry=de&idTaxonomy=37&member=1&vmac=iKH0g1pw25kgpf5KmyufK246vfyG1vX0h4Wc_kANlxzloNf_zjutxt7oXmna5URZCWvmyoMUno6AfrFfFHz6kgAADmUAAANb">Informationen und Dokumente</a>.
    Für Vollständigkeit, Fehler redaktioneller und technischer Art, Auslassungen und die Richtigkeit der hier veröffentlichten Informationen sowie für den Inhalt von verlinkten, externen Webseiten kann keine Haftung und Gewähr übernommen werden. Die Verweise durch Hyperlinks auf Inhalte externer Webseiten dienen lediglich der Information. Die Inhalte der durch Links von dieser Website aus erreichbaren fremden Webseiten werden sich nicht zu eigen gemacht. Die Verantwortlichkeit für diese fremden Inhalte liegt alleine bei dem Anbieter, der die Inhalte bereithält. Vor dem Einrichten der entsprechenden Hyperlinks sind die externen Webseiten mit großer Sorgfalt und nach bestem Wissen und Gewissen überprüft worden. Es kann jedoch keine Gewähr, weder ausdrücklich noch stillschweigend, für die Vollständigkeit und Richtigkeit von Informationen übernommen werden, die über weiterführende Hyperlinks erreicht werden.</p>


    
  </div>
  <div class="bottom_footer"></div>
</div>



