<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Vorteile</h2>
     <% if kik_realm? %> 
    
    
    <div class="left">
      <div class="two_top clearer"><h2><b>Vorteile für Rechtsuchende!</b></h2></div>
      <div class="two_content" style="height:257px">
        <img title="Startseite" alt="Startseite" src="images/icons/frage.gif" style="float:right"/>
        <p><b>Anwalt finden</b>- Ob Streit mit dem Nachbarn, Ärger mit dem Chef, Schererei mit der Behörde, strafrechtliche Verfolgung oder familiäre Schwierigkeiten - es ist leider selten ein erfreulicher Anlass, der einen Anwalt verlangt. </p>
<p><b>Zeit sparen</b>- Stundenlanges Blättern in dicken Telefonbüchern oder endloses Surfen im Internet auf der Suche nach einem Anwalt gehören der Vergangenheit an. Ebenso Telefonate mit und Besuche bei potentiellen Anwälten, aus denen nichts wird.</p>
<p><b>Kostenlos</b> - Stellen Sie einfach und kostenlos Ihre Frage und schildern Sie Ihr Rechtsproblem auf kann-ich-klagen.de. Bereits nach kurzer Zeit erhalten Sie Nachrichten von interessierten Anwälten, die sich bei Ihnen vorstellen und bewerben möchten. Eine Verpflichtung einen Anwalt zu beauftragen besteht natürlich nicht. kann-ich-klagen.de ist ein kostenloser Service für Sie als Rechtsuchenden. </p></div>
      <div class="two_bottom"></div>
    </div>

    <div class="right">
      <div class="two_top clearer"><h2><b>6 gute Gründe für kann-ich-klagen.de:</b></h2></div>
      <div class="two_content_right">
        <ul class="haken_blue">
          <li>Schildern Sie Ihren Fall und kontaktieren Sie Anwälte kostenlos und unverbindlich</li>
          <li>Keine Voranmeldung oder Termine erforderlich</li>
          <li>Erhalten Sie Nachrichten und Bewerbungen von interessierten Anwälten ohne weitere Verpflichtungen</li>
          <li>Vergleichen Sie die Bewerbungen der interessierten Anwälte bequem von zuhause und wählen Sie bei Interesse einen passenden Anwalt aus</li>
          <li>Eine Verpflichtung einen Anwalt zu beauftragen besteht nicht</li>
          <li>Wertvolle Tipps und Informationen rund um die Themen Recht und  Steuern</li>
        </ul>
        <div class="pad_5"></div>
      </div>
      <div class="two_bottom_arrow">
        <b><%= link_to_expect_pre_launch "Jetzt kostenlos Ihre Frage stellen", new_question_path, {:title => "Kostenlos Frage stellen und Fall schildern"} %>
        </b>
      </div>
    </div> 
    <% end %>
    <% if af_realm? %>
    <div class="left">
      <div class="two_top clearer"><h2><b>Vorteile für Rechtsuchende!</b></h2></div>
      <div class="two_content">
        <img title="Startseite" alt="Startseite" src="images/advofinder/icons/frage.gif" style="float:right"/>
        <p><b>Suchen &#38; Finden</b> – advofinder.de unterstützt Sie bei der Suche nach dem passenden Anwalt und schafft Transparenz. Mit praktischen Suchfunktionen und umfangreichen Anwaltsprofilen erhalten Rechtsuchende schnell einen Überblick über potentielle Anwälte, die konkret in Frage kommen. Stundenlanges Blättern in dicken Telefonbüchern auf der Suche nach einem Anwalt gehört der Vergangenheit an. </p>
<p><b>Bewerten</b> – Das advofinder.de Bewertungssystem ermöglicht Rechtsuchenden die unkomplizierte Bewertung eines Anwalts in nur wenigen Minuten. Bewertet werden fünf Bereiche: Verständlichkeit, Zuverlässigkeit, Menschlichkeit, Erreichbarkeit und Auftreten des Anwalts. Ihre Antworten und gemachten Erfahrungen helfen wiederrum anderen Rechtsuchenden bei der Anwaltssuche.</p>
<p><b>Austauschen </b> – Zu Fragen wie Servicequalität, Vertrauensbildung und Verständlichkeit im Rahmen der Rechtsberatung und Betreuung durch den Anwalt kann sich jeder Rechtsuchende eine aussagekräftige und veritable Meinung bilden. Und genau diese Meinung steht im Mittelpunkt bei advofinder.de; Rechtsuchende erhalten Anhaltspunkte im Vorfeld einer Beauftragung und Anwälte erhalten wertvolles Feedback zur Optimierung des eigenen Serviceangebotes.</p></div>
      <div class="two_bottom"></div>
    </div>

    <div class="right">
      <div class="two_top clearer"><h2><b>5 gute Gründe für advofinder.de: </b></h2></div>
      <div class="two_content_right">
        <ul class="haken_blue">
          <li>Passende Anwälte anhand von umfangreichen Anwaltsprofilen und praktischen Suchfunktionen deutschlandweit finden, kontaktieren und weiterempfehlen.</li>
          <li>Bewertungen sowie Erfahrungsberichte von anderen Rechtsuchenden und Mandanten schaffen Transparenz und helfen bei der Wahl des Anwalts; 24 Stunden am Tag.</li>
          <li>Loben Sie Anwälte, mit deren Service Sie zufrieden waren, und machen Sie Verbesserungsvorschläge zur Optimierung des Serviceangebotes eines Anwalts.</li>
          <li>Mit kostenloser Anmeldung alle Funktionen von advofinder.de in vollem Umfang nutzen.</li>
          <li>Profitieren Sie von wertvollen Tipps und Informationen rund um die Themen Recht und Steuern.</li>
          
        </ul>
        <div class="pad_5"></div>
      </div>
      <div class="two_bottom_arrow">
        <b><%= link_to_expect_pre_launch "Jetzt kostenlos anmelden", new_question_path, {:title => "Kostenlos anmelden"} %>
        </b>
      </div>
    </div>
    
    <% end %>
    
    

  </div>
  <div class="bottom_footer"></div>
</div>