<p>Sie haben gerade Ihr Passwort erfolgreich geändert.</p>
<p>Sie können hier zu <%= link_to "Mein Bereich", account_path %> wechseln.</p>
<% if current_user.person.is_a?(Advocate) %>
<p>Um regelmäßig und kostenlos aktuelle Fragen von potentiellen Mandanten zu erhalten, können Sie hier den <%= link_to("Suchfilter für Ihren Fragen-Radar", advocate_account_search_filters_path) %> konfigurieren.</p>
<% end %>
