<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Sie haben den kann-ich-klagen.de <%= @enrollment.to_s %> erfolgreich abbestellt! </h2>

    <div class="pad_10"></div>
     Sie werden keinen Newsletter mehr an die Adresse <%= h(@enrollment.email) %> erhalten. 

            <div class="pad_10"></div>

            

  </div>
  <div class="bottom_footer"></div>
</div>





