<div style="display:none" id="pre_launch_client">
  
    <div class="two_top clearer"><h2><b>Hinweis für Rechtsuchende </b></h2></div>
    <div class="two_content">
     
      <p>Momentan können Rechtsuchende noch keine Fragen an teilnehmende Anwälte stellen.
      Dementsprechend sind die betreffenden Seiten dieses Internetauftritts gesperrt.</p>

      <p>Der Grund: Derzeit läuft die Voranmeldephase für Anwälte.
      Erst wenn diese abgeschlossen ist können Fragen gestellt werden,
      damit dann jederzeit genügend Anwälte zur Verfügung stehen.</p>

      <p>Schon jetzt können alle Rechtsuchende jedoch ein vielfältiges Serviceangebote von kann-ich-klagen.de nutzen.
      Zum Beispiel die <%= link_to "Artikel zu Rechtsthemen", client_articles_path, {:title => "Ausführliche Infos zu Rechtsthemen"} %> oder das <%= link_to "Rechtslexikon", client_dictionaries_path, {:title => "Rechtsbegriffe von A bis Z erklärt"} %>.
      </p>

      <div class="pad_10"></div>
      <p>Ihr kann-ich-klagen.de Team</p></div>
     <div class="pad_clearer"></div>
    <div class="two_bottom"></div>

 <div class="clearer_10"></div>  

    <div class="two_top clearer"><h2><b> kann-ich-klagen.de jetzt auch auf Twitter und
          Facebook</b></h2></div>
    <div class="two_content">
      <%   link_to(url_for("http://twitter.com/kannichklagen" ) , :target=>'blank') do %>
        <img title="twitter" alt="twitter" src="/images/logos/twitter.gif" style="float:left"/>
      <% end %>
      <%   link_to(url_for("http://www.facebook.com/kannichklagen" ) , :target=>'blank') do %>
        <img title="facebook" alt="facebook" src="/images/logos/facebook.gif" style="float:left"/>
    <% end %></div>
    <div class="two_bottom"></div>
 
  <div class="clearer_10"></div>  
 </div>