<div style="display:none" id="pre_launch_chip">
  
    <div class="two_top clearer"><h2><b>Digitaler Nachlass</b></h2></div>
    <div class="two_content">
     
      <p><b>Gemeinsame Leseraktion mit dem Magazin CHIP</b></p>

      <p>Stellen Sie ab sofort Ihre Fragen zum Thema "Digitaler Nachlass"
      und diskutieren Sie mit auf der Facebook Diskussionsseite von
      kann-ich-klagen.de!.
      </p>
      <p>Ihre Fragen zum Thema „Digitaler Nachlass“ werden aufgegriffen
      und – geordnet nach typischen Fallgruppen – von Rechtsanwalt
      Michael Schweizer besprochen.</p>

      <div class="pad_10"></div>
     
   
      <%   link_to(url_for("http://www.facebook.com/kannichklagen?v=app_2373072738" ) , :target=>'blank') do %>
       <b> zu Facebook &#187; </b>
    <% end %> 
     </div> 
    <div class="two_bottom"></div>
 
  
 </div>