<%
  display ||= false
%>
<div style="<%= display ? '' : 'display:none' %>" id="pre_launch">

  <div class="two_top clearer">
    <h2><b>Sehr geehrte Besucherin, sehr geehrter Besucher,</b></h2>
  </div>
  <div class="two_content">
    <p>
      die Seite, die Sie soeben angeklickt haben, wird erst zum Start von
      <br />
      kann-ich-klagen.de veröffentlicht.
    </p>

    <p>
      In der jetzigen Voranmeldephase für Anwälte können leider nur Teile von
      kann-ich-klagen.de gezeigt werden.
    </p>

    <p>
      Wir danken für Ihr Verständnis und stehen Ihnen schon jetzt jederzeit gern
      bei Fragen, Anregungen oder Ideen zur Verfügung. Bitte senden Sie uns eine 
      <%= mail_to Notifier.help_email, 'E-Mail', {:encode => "hex"}%>!
    </p>

    <div class="pad_10"></div>
    <p>Ihr kann-ich-klagen.de Team</p></div>
    <div class="pad_clearer"></div>
    <div class="two_bottom"></div>

    <div class="clearer">
      
  </div>
  
  <div class="pad_10"></div>

  <div class="two_top clearer">
    <h2><b>kann-ich-klagen.de jetzt auch auf Twitter und Facebook:</b></h2>
  </div>
  <div class="two_content">
    <% link_to(url_for("http://twitter.com/kannichklagen" ) , :target=>'blank') do %>
      <img title="twitter" alt="twitter" src="/images/logos/twitter.gif" style="float:left"/>
    <% end %>
    <% link_to(url_for("http://www.facebook.com/kannichklagen" ) , :target=>'blank') do %>
      <img title="facebook" alt="facebook" src="/images/logos/facebook.gif" style="float:left"/>
    <% end %>
  </div>
  <div class="two_bottom"></div>

  <div class="clearer"></div>
  <div class="pad_10"></div>

</div>