
<div class="sub_content">
 <!-- pages/sub_content  <%= link_to "Jetzt anmelden und Startguthaben sichern", new_advocate_user_path, {:title => "Einmalig anmelden und Vorteile sichern", :class => current_page?(advocate_path) ? "select" : ""} %>

  <%= image_tag 'bullet_grey.gif' %>

  <%= link_to_expect_pre_launch "Video ansehen", video_corporate_path, {:title => "Video ansehen", :class => current_page?(video_corporate_path) ? "select" : ""}%>
  
  <%= image_tag 'bullet_grey.gif' %>
  <a href="/pdf/kann-ich-klagen_de-Infos_Stand_Maerz_2010.pdf" title="Infos über kann-ich-klagen.de als PDF-Datei zum herunterladen">kann-ich klagen.de Broschüre</a> -->  
</div>
<div class="sub_bottom"></div>
<div class="clearer"></div>
