<div class="white_site">
	<div class="top clearer"></div>
	<div class="content">

    <%= render :partial => 'pages/pre_launch_splash', :locals => {:display => true} %>

	</div>
	<div class="bottom_footer"></div>
</div>
	
