    <div class="light">
   <div class="main">
       <div class="content">
            <div class="col_1"> 
                <h2>Meine Artikel</h2>
                <p>Publizieren Sie hier Ihre juristische Beiträge. Egal ob Urteilsbesprechung, Hinweis auf Gesetzesänderungen, Kommentar, Ratgeber-Artikel oder Leitfaden. Stellen Sie Ihr vorhandenes Spezialwissen und Ihre Kompetenz rund um die für Sie relevanten Rechtsgebiete dar. Punkten Sie mit Inhalten und überzeugen Sie potentielle Mandanten mit interessanten Themen aus den Bereichen Recht und Steuern.  </p>
                  <p>Sie haben die Möglichkeit Artikel zu verfassen und Dokumente hochzuladen. </p>
                   <p><b>Nehmen Sie sich ein paar Minuten Zeit, um ab und an eine Mittteilung zu veröffentlichen – Sie werden feststellen, es lohnt sich! </b></p>
                   <div class="button_white_right_blue">
                          <a href="" title="Daten hochladen">Neuen Artikel verfassen</a>
                    </div>
                    <div class="button_white_left_blue"></div>     
                 <div class="clearer_20"> </div>   
                 
                 <p style="color:red">bei Neuen Artikel verfassen, den entsprechenden Teil siehe unten HIER einblenden  #486)</p>    
                    
                    
                 <div class="pad_10_all_grey">
                     <h2>Titel</h2>
                     <div>veröffentlicht am Dienstag, 10.11.2009, um 18:40 Uhr von RA Frau Dr. Maria Indastein </div>
                     <div class="pad_5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, metus vel ornare.
                      </div>
                     
                      <div class="pad_10_all right">  
                          <a>Artikel im Profil veröffentlichen</a>
                      </div>
                       <div class="pad_10_all right">  
                            <a>Artikel bearbeiten</a>
                        </div>
                      <div class="pad_10_all right">  
                          <a >Artikel löschen</a>
                      </div>
                      <div class="pad_10_all right">  
                          <a style="color:red">wenn auf veröffentlich-dann deaktivieren reinschreiben</a>
                      </div> 

                      <div class="clearer_20"></div>
                      

                      
                  </div>
                  
                 
                    
                  <h2>Neuen Artikel verfassen</h2> 
                  <input type="text"class="field w600" value="Artikel Titel"/>
                   <div class="pad_5"> </div>  
                  <textarea class="question_field text">Artikel</textarea> 
                  
                   <div class="clearer_10"></div>
                    

                    <div class="left w303">
                       <p><b>Dokumente hochladen:</b></p>

                       <input class="field w303" name="Datei" type="file"  maxlength="100000" accept="text/*"/>
                                     <div class="clearer"></div>
                         <div class="pad_10"></div>
                       <div class="button_white_right_blue">
                         <a href="" title="Daten hochladen">Dokumente hochladen</a>
                       </div>
                       <div class="button_white_left_blue"></div>

                     </div>

                     <div class="right w309" style="display:">
                       <p><b>Hochgeladene Dokumente:</b></p>
                       <p style="color:red">diese box erscheint erst wenn die erste datei hochgeladen wurde</p>
                       <p>meinfall.doc</p>
                       <p>meinfall.jpg</p>
                       <p>meinfall.doc</p>
                       <div class="button_white_right_blue">
                         <a href="" title="weitere Datei anhängen ">weiteres Dokument hochladen</a>
                       </div>
                       <div class="button_white_left_blue"></div>
                     </div>
                     
                      <div class="clearer_10"></div>
                      
                     <p class="line"></p>
                     <div class="clearer_10"></div>
                     
                  
                  <div>
                       <%= submit_tag "Artikel speichern", :class => "button_right" %>
                  </div>
                  <div class="button_left"></div>

                 
                       
             </div>
     
             <div class="col_2">
                <%= render :partial => 'shared/sidebar_stats' %>
                <div class="pad_r_l_15">
                  <h2>Hinweise:</h2>
                  <ul>
                    <li>Für das Hochladen von Dokumenten beachten Sie bitte: <p style="color:red"> Jürgen???Bitte INPUT ob es Reglementierungen gibt (Größe / Formate)</p> </li>

                  </ul>
                  <div class="clearer"></div>
                </div>


              </div>
         </div>

      </div>
      <div class="bottom"></div>
 </div>