<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">

        <h2>Konto deaktivieren</h2>
        <div class="pad_10"></div>
        <p>
        Hier können Sie Ihr Konto deaktivieren und dadurch alle Ihre in Ihrem persönlichen Mein Bereich vorhandenen Daten sperren. Geben Sie dazu bitte Ihr Passwort ein und klicken Sie dann auf "Jetzt Konto deaktivieren".</p>
       <p> Die Deaktivierung Ihres Kontos gilt zeitgleich als Kündigung eines etwaig noch laufenden Kontakt-Pakets zum Ende der vereinbarten Laufzeit.
       <p>Wir würden uns freuen, wenn Sie uns einen Grund für die Deaktivierung nennen würden, damit wir uns verbessern können, sollten Sie mit kann-ich-klagen.de unzufrieden gewesen sein.</p>   
       
       
       <p>Deaktivieren Sie Ihr Konto nur, wenn Sie kann-ich-klagen.de endgültig nicht mehr nutzen möchten. Geht es Ihnen stattdessen darum, keine laufenden monatlichen Kosten zu haben? Dann wechseln Sie <%= link_to "hier in das Flex-Paket", package_advocate_account_path %> und zahlen Sie nur noch, wenn Sie tatsächlich einen Kontakt zu einem potentiellen Mandanten erwerben. Ihr persönlicher Mein Bereich und Ihre vorhandenen Daten bleiben dann kostenlos erhalten. </p>
       
          <div class="clearer_10"></div> 
           
          <div class="left">
            <input class="field w303" value="Passwort*"/>
          </div> 
          
           <div class="clearer_10"></div>
           
          <div class="left">
             <input class="field w303" value="Passwort wiederholen*"/>  
          </div>
           <div class="clearer_10"></div> 
          
            <div class="left">
             <textarea class="text question_field_2">Grund für die Deaktivierung</textarea>
           </div>
           
           <div class="clearer_10"></div> 
           
          <div>
            <%= submit_tag "Jetzt Konto deaktivieren", :class => "button_right" %>
          </div>
          <div class="button_left"></div>
          <div class="clearer"></div>

   

      </div>
      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
          <ul>
            <li>Mit * versehene Felder sind Pflichtfelder.</li>
          </ul>
          
          <div class="clearer"></div> 
          <h2>Achtung!</h2>
          <ul>
            <li>Die Deaktivierung Ihres Kontos hat zur Folge, dass Ihre persönlichen Zugangsdaten verfallen und Sie keinen Zugriff mehr auf Ihren persönlichen Mein Bereich haben. Teilnehmende Rechtsuchende können sodann ebenfalls nicht mehr über das Mandanten-Fragen-System mit Ihnen in Kontakt treten. Nach der Deaktivierung können Sie somit auch auf mit Rechtsuchenden etwaig über das Mandanten-Fragen-System geführte Unterhaltungen und ausgetauschte Informationen und Dateien nicht mehr zugreifen. Sichern Sie deswegen bitte alle von Ihnen noch benötigten Informationen und Dateien, bevor Sie Ihr Konto deaktivieren. Sobald ein deaktiviertes Konto der datenschutzrechtlich gebotenen Löschung zugeführt wurde, ist eine Widerherstellung Ihrer Daten nicht möglich. </li>
          </ul>
          
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
