<div class="light">
  <div class="main">
    <div class="content">
      <div class="col_1">
        <h2>Wählen Sie Ihr Produkt  ganz nach Ihren Vorstellungen</h2>
        <p>Sie können kann-ich-klagen.de ganz unverbindlich und ohne Mindestlaufzeit nutzen, dann steht Ihnen die Einzelbewerbung auf eine einzelne Mandantenfrage zu Verfügung.</p> <p>  Nutzen Sie unsere Sparvorteile gegenüber Einzelbuchungen oder bestellen Sie gleich unser Flatpaket.</p>
        <div class="clearer_10"></div>
      </div>
      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
          
            <p><b>Keine Laufzeitbegrenzung * </b></p>
             <div class="pad_20"></div>  
            <p><b>Bedingungen der Leistungspakete ** </b></p> 
               
           
            <ul>
              <li>Nicht eingelöste Kontakte verfallen mit Ablauf des Monats</li>
              <li>Ein Übertrag in den Folgemonat ist nicht möglich</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
             

            </ul>  
            
          
          
          <div class="clearer"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="bottom"></div>
</div>