<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">

        <h2>Bitte wählen Sie einen Suchfilter für Ihren Fragen-Radar:</h2>
        <div class="pad_10"></div>
         <p>kann-ich-klagen.de sendet Ihnen als teilnehmender Anwalt regelmäßig und kostenlos aktuelle Fragen von potentiellen Mandanten zur Einsicht. Wählen Sie dazu den von Ihnen gewünschten Suchfilter und erhalten Sie ab sofort Fragen individuell gefiltert nach Rechtsgebieten und regionalen Wünschen. Sie können später jederzeit Ihren Suchfilter ändern.</p>
         
         <div class="left w303">
               <div class="pad_5"></div>  
               <p><b>Region:</b></p>
           
               <div><input type="radio" name="" value="" id=""> deutschlandweit</div> 
               <div><input type="radio" name="" value="" id=""> auf einzelne Bundesländer beschränken </div>
               <div><input type="radio" name="" value="" id=""> auf Umkreis der Kanzlei beschränken</div>   
               
               <div class="clearer"></div>
               <div class="pad_20"></div>
               <p><b>Rechtsgebiete:</b></p>
               <div><input type="radio" name="" value="" id=""> alle Rechtsgebiete</div> 
               <div><input type="radio" name="" value="" id=""> auf einzelne Rechtsgebiete beschränken</div>
          </div>
          
          
          
          <div class="right w309">
                <div class="pad_5">
                   <p class="line">PLZ der Kanzlei: <b> 80 796</b></p>
                </div>
                <div><input type="checkbox" name="" value="" id=""> &#8194;5 KM Umkreis</div>  
                <div><input type="checkbox" name="" value="" id=""> 10 KM Umkreis</div>  
                <div><input type="checkbox" name="" value="" id=""> 20 KM Umkreis</div>  
                <div><input type="checkbox" name="" value="" id=""> 30 KM Umkreis</div>
                
                
                <div class="pad_5">
                    <p class="line">Bundesländer:</p>
                 </div>
                 <div><input type="checkbox" name="" value="" id=""> Baden-Württemberg</div>  
                 <div><input type="checkbox" name="" value="" id=""> Bayern</div>  
                 <div><input type="checkbox" name="" value="" id=""> Berlin</div>  
                 <div><input type="checkbox" name="" value="" id=""> Brandenburg</div>
                 <div><input type="checkbox" name="" value="" id=""> Bremen</div>
                 <div><input type="checkbox" name="" value="" id=""> Hamburg</div>
                 <div><input type="checkbox" name="" value="" id=""> Hessen</div>
                 <div><input type="checkbox" name="" value="" id=""> Mecklenburg-Vorpommern</div>
                 <div><input type="checkbox" name="" value="" id=""> Niedersachsen</div>
                 <div><input type="checkbox" name="" value="" id=""> Nordrhein-Westfalen</div>
                 <div><input type="checkbox" name="" value="" id=""> Rheinland-Pfalz</div>
                 <div><input type="checkbox" name="" value="" id=""> Saarland</div>
                 <div><input type="checkbox" name="" value="" id=""> Sachsen</div>
                 <div><input type="checkbox" name="" value="" id=""> Sachsen-Anhalt</div>
                 <div><input type="checkbox" name="" value="" id=""> Schleswig-Holstein</div>
                 <div><input type="checkbox" name="" value="" id=""> Thüringen</div>
                 
                 
                 <div class="pad_5">
                    <p class="line">Rechtsgebiete:</p>
                 </div>
                 <div><input type="checkbox" name="" value="" id=""> Arbeitsrecht</div>  
                 <div><input type="checkbox" name="" value="" id=""> wird auto gefüllt</div> 
                 <div style="color:red">erst beim Radio klick öffnet sich die Auswahl mit den Checkboxen</div> 
          </div>

          <div class="clearer_20"></div>
          <h2>E-Mail-Benachrichtigung(en) über neu eingegange Fragen:</h2>  
          <div class="clearer_5"></div>
          
          <div><input type="checkbox" name="" value="" id=""> sofort (jede neue, passende Frage einzeln per E-Mail) </div>
           <div><input type="checkbox" name="" value="" id=""> tägliche Zusammenfassung (alle neuen, passenden Fragen zusammengefasst in einer E-Mail) </div>
           <div><input type="checkbox" name="" value="" id=""> nie (passende Fragen werden nur online im Bereich "Offene Fragen" angezeigt) </div>
          <div class="clearer_20"></div> 
          <div class="button_right">
           		<a href="" title="Filtereinstellungen speichern">Filter speichern</a>
          </div>
          <div class="button_left"></div> 
           	 
      </div>
      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
       
            <div class="pad_r_l_15">
              <h2>Ihr Fragen-Radar Filter</h2>
              <ul>
                <li>
                  
                  <p>Rechtsgebiet: Mietrecht, Arbeitsrecht, Mietrecht, Arbeitsrecht</p>
                  <p>PLZ, Ort: 80796 München</p>
                  <p>Umkreis: 20 km </p>
                  <p>Bundesland: Bayern </p>
                </li>
              </ul>
              <div class="clearer"></div>
              Ändern Sie Ihren Fragen-Radar Filter indem Sie links Ihre bisherige Auswahl anpassen und auf "Suchfilter speichern" klicken. 
              <div class="pad_20"></div>
              <b><a class="white"> Fragen-Radar Ergebnisse anzeigen &#187;</a></b> 
             
         </div>
      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>

















