<%
  advomessage ||= new || @advomessage
%>
<h2>Neue Nachricht veröffentlichen</h2> 
<%= error_messages_for :advomessage %>
<% remote_form_for :advomessage, advomessage, :url => advocate_account_advomessages_path do |f| %>
  <%= render :partial => "form", :locals => {:f =>f} %>
<% end %>
<%= render :partial => 'shared/default_fields_js' %>
