<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <div class="left">

<%= render :partial => 'tabs' %>

      <div class="two_big_content">
        <div class="left">
          <ul class="profil">
            <li><span class="one">Informationen zu meiner Person</span><span class="two">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></li>
            <li><span class="one">Anglo Titel</span><span class="two">Eintrag</span></li>
            <li><span class="one">Postition/Funktion</span><span class="two">Eintrag</span></li>
            <li><span class="one">Zugelassen seit</span><span class="two">Eintrag</span></li>
            <li><span class="one">Bundesland</span><span class="two">Eintrag</span></li>
            <li><span class="one">Berufsbezeichnung <br /> nach § 5 I 5b (TMG)</span><span class="two">Eintrag</span></li>
            <li><span class="one">Ausländische Berufsbezeichnungen</span><span class="two">Eintrag</span></li>
            <li><span class="one">Besondere Vertretungsberechtigungen</span><span class="two">Eintrag</span></li>
            <li><span class="one">Zuständige Berufshaftpflichtversicherung</span><span class="two">Generali Versicherungen AG Adenauerrign 7-9 </span></li>
            
            
            </ul>
         <div class="pad_10"></div> 
         <ul class="profil">
            <li><span class="one">Informationen zur Kanzlei</span><span class="two"> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span></li>
            <li><span class="one">Kanzleigröße</span><span class="two">Eintrag</span></li>
            <li><span class="one">Art der Kanzlei</span><span class="two">Eintrag</span></li>
            <li><span class="one">Hauptsitz</span><span class="two">Eintrag</span></li>
            <li><span class="one">Tätig in den Rechtsgebieten</span><span class="two">Eintrag</span></li>
            <li><span class="one">Logo</span><span class="two"><img src="/images/logos/presse_logo_SW.jpg" width="150" height="19" alt="Presse Logo SW"></span></li>
            <li><span class="one">Bilder der Kanzlei</span><span class="two">
               <img src="/images/Bildschirmfoto 2010-11-02 um 17.24.16.png" width="300px" height="200" alt="Bildschirmfoto 2010 11 02 Um 17.24.16"/>   
               <img src="/images/Bildschirmfoto 2010-11-02 um 17.24.16.png" width="300px" height="200" alt="Bildschirmfoto 2010 11 02 Um 17.24.16"/>   
              
              </span></li>
          </ul>
           <div class="pad_10"></div>
          <ul class="profil">
              <li><span class="one">Weiterer Standorte der Kanzlei</span><span class="two">Hamburg</span></li>
              <li><span class="one">PLZ des Standorts</span><span class="two">80796</span></li>
              <li><span class="one">Straße Hausnr. des Standorts</span><span class="two">Gentzstr. 5</span></li>
            </ul>
            <a>weiteren Standort hinzufügen</a>
          <div class="clearer"></div>
          
        </div>
      </div>
      <div class="two_big_bottom_arrow"><b><%= link_to "Daten ändern", {:title => "ändern"} %></b></div>
      <div class="pad_10"></div>
      
      <p style="color:red">  bei klick auf "Daten ändern" erscheint an dieser Stelle die input box wie beim Rechtsuchenden.<br /> Beim ändern muss unter Standort ein link<br /> weiteren Standort hinzufügen rein</p>
    
    </div>
    
<%= render :partial => 'sidebar_grades_datas' %>

  </div>
  <div class="bottom_footer"></div>
</div>

