<div class="white_site">
  <div class="top clearer"></div>
  <div class="content" style="height:480px"> 
       <div class="right"><img title="Anwalt kann-ich-klagen.de" alt="Anwalt kann-ich-klagen.de" src="/images/white_big_haken.jpg" style="position:relative;"/></div>
     <div class="left pad_10" style="position:absolute;">
       <ul>
         <li><span class="headline">Vielen Dank für die Bestätigung und Aktivierung Ihrer Anmeldung auf kann-ich-klagen.de!</span></li>
         <li><span class="fliess"><b>Ihre Anmeldung ist hiermit erfolgreich abgeschlossen.</b></span></li>
          <ul> 
     <div class="pad_10"></div>
    <p>Als Bonus für Ihre Anmeldung wird Ihrem persönlichen Anwaltsprofil ein Startguthaben im Wert von 500,00 € netto (= 595,00 € brutto) <br />gutgeschrieben.

    Das Guthaben können Sie ab Gutschrift ein Jahr lang einlösen und damit die Vorteile von kann-ich-klagen.de ausführlich testen.   <br />
    

    Ihr persönliches Anwaltsprofil steht Ihnen ab dem Start von kann-ich-klagen.de zur Verfügung, indem Sie sich dann mit Ihren persönlichen  <br />Zugangsdaten einloggen.</p>
    <div class="pad_10"></div>
    
    <p>Wir informieren Sie per E-Mail, sobald kann-ich-klagen.de startet, und senden Ihnen rechtzeitig vorab Ihre persönlichen Zugangsdaten.</p>
    <p>Sollten Sie Fragen haben, stehen wir Ihnen per <%= mail_to Notifier.help_email, 'E-Mail', { :encode => "hex" }%> gern zur Verfügung. </p>
    <div class="pad_10"></div>
    <p>* Eine Übertragung an Dritte oder Auszahlung des Startguthabens ist nicht möglich.</p>
     </div>  
  </div>
  <div class="bottom_footer"></div>
</div> 