<%= form_flash_messages %>
<div class="green">
  <div class="top clearer"></div>
  <div class="content" style="height:480px;">

    <div class="right"><img title="Anwalt kann-ich-klagen.de" alt="Anwalt kann-ich-klagen.de" src="/images/gruen_anmeldung.jpg" style="position:relative;"/></div>
    <div class="left pad_10" style="position:absolute;">
      <ul>
        <li><span class="headline">Vielen Dank für Ihre Anmeldung auf kann-ich-klagen.de!</span></li>
        <li><span class="fliess"><b>Sie erhalten in Kürze eine Aktivierungs-E-Mail mit der Bitte um Bestätigung Ihrer Anmeldung.</b></span></li>
        <li><span class="fliess">Bitte klicken Sie einmalig auf den in der E-Mail enthaltenen Aktivierungs-Link oder kopieren Sie den <br />Aktivierungs-Link in die Adresszeile Ihres Internetbrowsers, um Ihre kostenlose Anmeldung zu bestätigen. </span></li>
        <li><span class="fliess">Ohne Bestätigung kann Ihre kostenlose Anmeldung nicht aktiviert und von kann-ich-klagen.de freigeschaltet werden. </span></li>
        <li><span class="fliess">Als Bonus für Ihre Anmeldung wird Ihrem persönlichen Anwaltsprofil nach Freischaltung durch kann-ich-klagen.de <br />ein Startguthaben im Wert von 500,00 € netto (= 595,00 € brutto) gutgeschrieben. Dieses Guthaben können Sie ab <br />Gutschrift ein Jahr lang einlösen und damit die Vorteile von kann-ich-klagen.de ausführlich testen.<br /> Eine Übertragung an Dritte oder Auszahlung des Startguthabens ist nicht möglich. </span></li>
        <li><span class="fliess">Wir informieren Sie gesondert per E-Mail, sobald freigeschaltet und gutgeschrieben wurde, damit Sie schnellstmöglich beginnen können einzulösen. Einstweilen bitten wir Sie um Ihre Geduld, da jede Anmeldung vor Freischaltung individuell geprüft wird, um Missbrauch zu vermeiden.  </span></li>
        <li><span class="fliess">Sie können die von uns gesendete Aktivierungs-E-Mail nicht finden? <br />
        Schauen Sie bitte zur Sicherheit auch in Ihrem Junk-E-Mail- bzw. Spam-Ordner nach.<br />
        Wir können Ihnen die Aktivierungs-E-Mail auch erneut senden, damit Sie Ihre Anmeldung bestätigen können. Klicken Sie bitte auf <br />
        
        <% if @current_registering_user %>
          <%= link_to("E-Mail erneut senden", 
            resend_advocate_user_path(:id => @current_registering_user.activation_code)) + "." -%>
        <% else %>
          <a href="">E-Mail erneut senden</a>
        <% end %>
        Schauen Sie dann in Ihrem E-Mail-Posteingang nach. </span></li>

      </ul>
      <ul>

        <li><span class="fliess"><b>Wichtiger Hinweis zu Spamfiltern: </b>
       Wenn Sie oder Ihr Provider einen Spam- bzw. Junk-E-Mail-Filter einsetzen, übernehmen Sie bitte die E-Mail-Adresse <%= Notifier.unprettify(Notifier.signup_email) %> oder die Domäne kann-ich-klagen.de in Ihre Liste sicherer Absender bzw. Liste bekannter Personen. </span></li>

      </ul>
    </div>
   
  </div>
  <div class="bottom"></div>
</div>

<%= render :partial => "advocate/recommendations/content" %>