<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Sie wurden in den Presseverteiler aufgenommen!</h2>
    <div class="pad_10"></div>
    <p><%= @current_contact.notifier_salutation_and_title_and_last_name%>,</p>
    <div class="pad_10"></div>
    <p>Vielen Dank für Ihr Registrierung.</p>
    <div class="pad_20"></div>
    
    
    <p>Ihr kann-ich-klagen.de Team  </p>
    <div class="pad_10"></div>

  </div>
  <div class="bottom_footer"></div>
</div>
