<% 
  form_url ||= create_new_password_admin_users_path
  @user.login = "" if @user 
%>
<h2>Sie haben Ihr Passwort vergessen?</h2>
<% form_for :user, :url => form_url do |f |%> 
 <div class="pad_10"></div>
  <p>Bitte geben Sie Ihren Benutzernamen oder E-Mail-Adresse ein. </p>
  <p>Wir senden Ihnen umgehend Ihr Passwort an die von Ihnen hinterlegte E-Mail-Adresse. </p>
   <div class="pad_10"></div> 
 <div class="left">
   <div><%=  "<b>Benutzername oder E-Mail-Adresse*</b>" %></div>
   <div class="pad_5">
     <%= f.text_field :login, :class => "field w303" %>
    </div>
 </div>
 <div class="clearer"></div>

 <div>
   <%= submit_tag "Jetzt Passwort anfordern " , :class => "button_right" %>
 </div> 
 <div class="button_left"></div>
<% end %>