<div class="white_site">
  <div class="top clearer"></div>
  <div class="content">
    <h2>Vielen Dank!</h2>

    <div class="pad_10"></div>
     <!-- für Presseverteiler-->
    <p>Ihr Nachricht wurde an die kann-ich-klagen.de Pressestelle verschickt. Sie werden wunschgemäß in den Presseverteiler aufgenommen.</p>


    <!-- für Pressekontakt-->
    <p>Ihr Nachricht wurde an die kann-ich-klagen.de Pressestelle verschickt. Wir werden Ihre E-Mail schnellst möglich bearbeiten.</p>

    <div class="pad_10"></div>

  </div>
  <div class="bottom_footer"></div>
</div>