<div class="blue_right">
  <div class="main">
    <div class="content">
      <div class="col_1">
        <h2>Bilder &#38; Logos</h2>
        <h1>Hier finden Sie eine Auswahl von Bildern &#38; Logos rund um <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %>. </h1>

        <div class="clearer_10"></div>  
        <div class="two_big_top clearer">
          <h2>
            <b>Michael Schweizer</b>, CEO, Geschäftsführung
          </h2>
        </div>
        <div class="two_big_content">
          <table>
            <tr>
              <td><img title="Startseite" alt="Startseite" src="/images/person/michael.schweizer.gif" /></td>
               <td>
                <p><b>SW / TIF</b></p>
                <p><a href="/images/person/michael_schweizer_SW_300.tif" title="GIF-Datei zum herunterladen">download</a></p>
                <p>2.340 KB</p>
              </td>
              <td>
                <p><b>SW / JPG</b></p>
                <p><a href="/images/person/michael_schweizer_SW_72.jpg" title="GIF-Datei zum herunterladen">download</a></p>
                <p>59 KB</p>
              </td>
             
            </tr>
          </table>
 </div>
         <div class="two_big_bottom"></div>
        
        <div class="clearer_10"></div>
        
<% if kik_realm? %>       
          
        <div class="two_big_top clearer">
          <h2>
            <b>kann-ich-klagen.de Logo</b> (300 Pixel/Zoll)
          </h2>
        </div>
        <div class="two_big_content">
          <table>
            <tr>
              <td><img  alt="Logo 4c" src="/images/logos/presse_logo_CYMK.jpg" /></td>
              <td>
                <p><b>CMYK</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_CYMK.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                <p>3.264 KB</p>
              </td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_big.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p>163 KB</p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p>103 KB</p>
              </td>
              <td>
                <p><b>PDF</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_CYMK.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                <p>607 KB</p>
              </td>
              <td>
                 <p><b>EPS</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300.eps" title="EPS-Datei zum herunterladen">download</a></p>
                <p>3.058 KB</p>
              </td>
            </tr>
            
           
            <tr>
              <td><img  alt="Logo 1c" src="/images/logos/presse_logo_SW.jpg" /></td>
               <td>
                <p><b>CMYK</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_SW.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                <p>697 KB</p>
              </td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_big_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p>88 KB</p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_SW.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p>106 KB</p>
              </td>
              <td>
                <p><b>PDF</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_SW.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                <p>412 KB</p>
              </td>
              <td>
                 <p><b>EPS</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_300_SW.eps" title="EPS-Datei zum herunterladen">download</a></p>
                <p>899 KB</p>
              </td>
            </tr>

            <tr>
              <td><img  alt="Logo 4c" src="/images/logos/presse_logo_CYMK_claim.jpg" /></td>
              <td>
                <p><b>CMYK</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_CYMK.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                <p>4.231 KB</p>
              </td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_big.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p>184 KB</p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p>119 KB</p>
              </td>
              <td>
                <p><b>PDF</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_CYMK.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                <p>609 KB</p>
              </td>
              <td>
                 <p><b>EPS</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300.eps" title="EPS-Datei zum herunterladen">download</a></p>
                <p>3.414 KB</p>
              </td>
            </tr>


            <tr>
              <td><img  alt="Logo 1c" src="/images/logos/presse_logo_SW_claim.jpg" /></td>
               <td>
                <p><b>CMYK</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_SW.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                <p>850 KB</p>
              </td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_big_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p>114 KB</p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_SW.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p>58 KB</p>
              </td>
              <td>
                <p><b>PDF</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_SW.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                <p>445 KB</p>
              </td>
              <td>
                 <p><b>EPS</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_300_SW.eps" title="EPS-Datei zum herunterladen">download</a></p>
                <p>899 KB</p>
              </td>
            </tr>
          </table>

        </div>
        <div class="two_big_bottom"></div>
        <div class="clearer_10"></div>  
        <div class="two_big_top clearer">
          <h2>
            <b>kann-ich-klagen.de Logo</b> (72 Pixel/Zoll)
          </h2>
        </div>
        <div class="two_big_content">
          <table>
            <tr>
              <td><img  alt="Logo 4c" src="/images/logos/presse_logo_CYMK.jpg" /></td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_small.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p><b>31 KB</b></p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_small.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p><b>14 KB</b></p>

              </td>
            </tr>
           <tr>
              <td><img  alt="Logo 1c" src="/images/logos/presse_logo_SW.jpg" /></td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_small_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p><b>15 KB</b></p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_72_SW_small.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p><b>20 KB</b></p>
              </td>
            </tr>
            <tr>
              <td><img  alt="Logo 4c" src="/images/logos/presse_logo_CYMK_claim.jpg" /></td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_CMYK.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p><b>32 KB</b></p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_CMYK.png" title="PNG-Datei zum herunterladen">download</a></p>
                <p><b>21 KB</b></p>

              </td>
            </tr>
           <tr>
              <td><img  alt="Logo 1c" src="/images/logos/presse_logo_SW_claim.jpg" /></td>
              <td>
                <p><b>JPG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                <p><b>20 KB</b></p>
              </td>
              <td>
                <p><b>PNG</b></p>
                <p><a href="/images/downloads/kann_ich_klagen_logo_claim_72_SW.jpg" title="PNG-Datei zum herunterladen">download</a></p>
                <p><b>23 KB</b></p>
              </td>
            </tr>
          </table>
        </div>
       
       
       <% end %><% if af_realm? %>
          <div class="two_big_top clearer">
             <h2>
               <b>advofinder.de Logo</b> (300 Pixel/Zoll)
             </h2>
           </div>
           <div class="two_big_content">
             <table>
               <tr>
                 <td><img  alt="Logo 4c" src="/images/advofinder/logos/advofinder_logo_CMYK.jpg" /></td>
                 <td>
                   <p><b>CMYK</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_CMYK.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                   <p>2.300 KB</p>
                 </td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_CMYK.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p>147 KB</p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p>70 KB</p>
                 </td>
                 <td>
                   <p><b>PDF</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_CMYK.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                   <p>475 KB</p>
                 </td>
                 <td>
                    <p><b>EPS</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_CMYK.eps" title="EPS-Datei zum herunterladen">download</a></p>
                   <p>11.400 KB</p>
                 </td>
               </tr>


               <tr>
                 <td><img  alt="Logo 1c" src="/images/advofinder/logos/advofinder_logo_SW.jpg" /></td>
                  <td>
                   <p><b>CMYK</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_sw.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                   <p>442 KB</p>
                 </td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p>139 KB</p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_SW.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p>66 KB</p>
                 </td>
                 <td>
                   <p><b>PDF</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_SW.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                   <p>61 KB</p>
                 </td>
                 <td>
                    <p><b>EPS</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_SW.eps" title="EPS-Datei zum herunterladen">download</a></p>
                   <p>4.100 KB</p>
                 </td>
               </tr>

               <tr>
                 <td><img  alt="Logo 4c" src="/images/advofinder/logos/advofinder_logo_claim_CMYK.jpg" /></td>
                 <td>
                   <p><b>CMYK</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_claim_CMYK.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                   <p>2.900 KB</p>
                 </td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_CMYK.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p>180 KB</p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p>78 KB</p>
                 </td>
                 <td>
                   <p><b>PDF</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_CMYK.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                   <p>475 KB</p>
                 </td>
                 <td>
                    <p><b>EPS</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_CMYK.eps" title="EPS-Datei zum herunterladen">download</a></p>
                   <p>11,4 MB</p>
                 </td>
               </tr>


               <tr>
                 <td><img  alt="Logo 1c" src="/images/advofinder/logos/advofinder_logo_claim_sw.jpg" /></td>
                  <td>
                   <p><b>CMYK</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_claim_sw.tif" title="CMYK-Datei zum herunterladen">download</a></p>
                   <p>877 KB</p>
                 </td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p>168 KB</p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_SW.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p>78 KB</p>
                 </td>
                 <td>
                   <p><b>PDF</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_300_SW.pdf" title="PDF-Datei zum herunterladen">download</a></p>
                   <p>61 KB</p>
                 </td>
                 <td>
                    <p><b>EPS</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_300_SW.eps" title="EPS-Datei zum herunterladen">download</a></p>
                   <p>4.100 KB</p>
                 </td>
               </tr>
             </table>

           </div>
           
           <div class="two_big_bottom"></div>
           <div class="clearer_10"></div>  
           <div class="two_big_top clearer">
             <h2>
               <b>advofinder.de Logo</b> (72 Pixel/Zoll)
             </h2>
           </div>
           <div class="two_big_content">
             <table>
               <tr>
                 <td><img  alt="Logo 4c" src="/images/advofinder/logos/advofinder_logo_CMYK.jpg" /></td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_72_CMYK.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p><b>29 KB</b></p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_small.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p><b>12 KB</b></p>

                 </td>
               </tr>
              <tr>
                 <td><img  alt="Logo 1c" src="/images/advofinder/logos/advofinder_logo_SW.jpg" /></td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_72_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p><b>20 KB</b></p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_SW_small.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p><b>12 KB</b></p>
                 </td>
               </tr>
               <tr>
                 <td><img  alt="Logo 4c" src="/images/advofinder/logos/advofinder_logo_claim_CMYK.jpg" /></td>
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_72_CMYK.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p><b>33 KB</b></p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_small.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p><b>20 KB</b></p>

                 </td>
               </tr>
              <tr>
                 <td><img  alt="Logo 1c" src="/images/advofinder/logos/advofinder_logo_claim_sw.jpg" /></td>      
                 <td>
                   <p><b>JPG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_72_SW.jpg" title="JPG-Datei zum herunterladen">download</a></p>
                   <p><b>25 KB</b></p>
                 </td>
                 <td>
                   <p><b>PNG</b></p>
                   <p><a href="/images/advofinder/downloads/advofinder_logo_claim_72_SW.png" title="PNG-Datei zum herunterladen">download</a></p>
                   <p><b>16 KB</b></p>
                 </td>
               </tr>
             </table>
           </div>
         
         <% end %>  
        
        
        <div class="two_big_bottom"></div>

      </div>
      <div class="col_2">
        <%= render :partial => 'shared/sidebar_stats' %>
        <div class="pad_r_l_15">
          <h2>Hinweise:</h2>
          <ul>
            <li>Der Abdruck und die Verwendung von Bildern &#38; Logos sind kostenfrei zur journalistischen Nutzung für redaktionelle Beiträge bei Angabe der Quelle <% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> gestattet. </li>
            <li>Alle Bilder &#38; Logos dürfen nur proportional verändert werden. </li>
            <li>Bei Fragen stehen wir Ihnen jederzeit gern zur Verfügung:
               <% if kik_realm? %>
               <p>Telefon: (030) 609 895 090</p>
                <p>Telefax: (030) 609 895 099 </p> 
              <% end %>
              <% if af_realm? %>
              <p>Telefon: (030) 577 085 760</p>
               <p>Telefax: (030) 577 085 769 </p>
              <% end %>
              <p> <%= mail_to Notifier.press_email, 'E-Mail-Adresse', {:class => "white",  :encode => "hex" }%></p>
            </li>
            <li>Bitte schicken Sie ein Belegexemplar an:
              <p><% if kik_realm? %>kann-ich-klagen.de<% end %><% if af_realm? %>advofinder.de<% end %> </p>
              <p>Friedrichstr. 148</p>
              <p>10117 Berlin</p>
               </li>
          </ul>
          <div class="clearer"></div>
        </div>
       </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
