<div class="white_site">
		<div class="top clearer"></div>
		<div class="content">

				<h2>Pressespiegel</h2>
				<p>Wir in der Presse. Über unsere Entwicklung wird in der Presse berichtet. Hier können Sie sich aktuelle Berichterstattungen ansehen.</p>

				<div class="left">
					<div class="two_top clearer"><h2><b>10.10.2009</b></h2></div>
						<div class="two_content_120">
							<h4><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis. </b></h4>
							<img title="" alt="" src="/images/logos/der_spiegel_4c.jpg" style="float:left"/>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.
						</div>
					<div class="two_bottom_arrow"><a href="" title="Zum Artikel"><b>zum Artikel</b></a>
					</div>
				</div>
				<div class="right">
					<div class="two_top clearer"><h2><b>13.09.2009</b></h2></div>
						<div class="two_content_120">
							<h4><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </b></h4>
							<img title="Super Illu" alt="Super Illu" src="/images/logos/super_illu_4c.jpg" style="float:left"/>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.
						</div>
					<div class="two_bottom_arrow"><a href="" title="Zum Artikel"><b>zum Artikel</b></a>
					</div>
				</div>


				<div class="clearer"></div>
				<div class="pad_15"></div>

				<div class="left">
					<div class="two_top clearer"><h2><b>10.10.2009</b></h2></div>
						<div class="two_content_120">
							<h4><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis. </b></h4>
							<img title="Super Illu" alt="Super Illu" src="/images/logos/super_illu_4c.jpg" style="float:left"/>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit,
						</div>
					<div class="two_bottom_arrow"><a href="" title="Zum Artikel"><b>zum Artikel</b></a>
					</div>
				</div>
				<div class="right">
					<div class="two_top clearer"><h2><b>13.09.2009</b></h2></div>
						<div class="two_content_120">
							<h4><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </b></h4>
							<img title="" alt="" src="/images/logos/freizeit_revue_4c.jpg" style="float:left"/>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, turpis et interdum blandit, augue ipsum molestie orci, sit amet auctor nibh eros et lorem. Quisque suscipit porta sodales. Phasellus malesuada, libero at bibendum dictum, lorem dui molestie nisl, non aliquam ipsum velit eu nibh. Etiam ullamcorper, metus vel ornare.
						</div>
					<div class="two_bottom_arrow"><a href="" title="Zum Artikel"><b>zum Artikel</b></a>
					</div>
				</div>



		</div>
	<div class="bottom_footer"></div>
	</div>