<!-- start_pages/sub_content -->
<div class="sub_content">
    <a href="">Jetzt anmelden</a>
		<img alt="" src="images/bullet_grey.gif" />
		<a href="">Video ansehen</a>
		<img alt="" src="images/bullet_grey.gif" />
		<a href="">Info Broschüre</a>
</div>
<div class="sub_bottom"></div>
<div class="clearer"></div>
