<% if @pdf %>
<style>

.footer {
  position:relative;
  bottom:none;
} 

</style>
<% end %>
<!-- footer -->
<div class="footer">
  <p><b>kann-ich-klagen.de</b><br />
    Friedrichstraße 148<br />
    10117 Berlin
  </p>
  <p><b>Fon</b> (030) 609 895 090<br />
    <b>Fax</b> (030) 609 895 099<br />
    <b>E-Mail</b> email@kann-ich-klagen.de<br />
    <b>URL</b> www.kann-ich-klagen.de 
  </p>
  <p><b>Geschäftsführung:</b> Michael Schweizer<br />
    <b>Steuernummer</b> 34/529/54279<br />
    <b>Umsatzsteuer-IdNr.</b> DE244422725<br />
    <b>Einzelunternehmen</b> 
  </p>
  <p class="last"><b>Kontonummer</b> 6540469332<br />
    <b>Kreditinstitut</b> HypoVereinsbank<br />
    <b>BLZ</b> 70020270<br />
    <b>IBAN</b> E30700202706540469332<br />
    <b>Swift (BIC)</b> HYVEDEMMXXX  
  </p>
</div>  
