<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <title>kann-ich-klagen.de</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="language" content="de"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <link rel="SHORTCUT ICON" href="/favicon.ico"/>

  <% if @pdf %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <% else %>  
  <link rel="stylesheet" media="print" type="text/css" href="/stylesheets/pdf.css"/>
  <link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/pdf.css"/>
  <% end %>

</head>
<body>
  <%= yield %>
</body>
</html>